@model sachem.Models.Personne

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomUsager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomUsager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_Sexe.Sexe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_Sexe.Sexe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_TypeUsag.TypeUsag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_TypeUsag.TypeUsag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
