@model IEnumerable<sachem.Models.Personne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomUsager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_Sexe.Sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_TypeUsag.TypeUsag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomUsager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Courriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateNais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_Sexe.Sexe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_TypeUsag.TypeUsag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Pers }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Pers }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Pers })
        </td>
    </tr>
}

</table>
