@using sachem.Models
@model IEnumerable<Inscription>

@{
    ViewBag.Title = Messages.Inscription;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "RechercheInscription", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    <h4>Recherche</h4>
    <div class="recherche">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-3 recherche-label">
                    @Messages.Session
                </div>
                <div class="col-md-9 recherche-field">
                    @Html.DropDownList("Session", null, Messages.Toutes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 recherche-label">
                    @Messages.TypeInscription
                </div>
                <div class="col-md-8 recherche-field">
                    @Html.DropDownList("TypeInscription", null, Messages.Tous, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-3 recherche-label">
                    @Messages.Statut
                </div>
                <div class="col-md-9 recherche-field">
                    @Html.DropDownList("Statut", null, Messages.Tous, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-default" style="margin-bottom: 10px;">
                    <i class="material-icons">search</i>@Messages.Rechercher
                </button>
            </div>
        </div>
    </div>
    <br />
}

<table class="table">
    <tr>
        <th  class="col-sm-6">
            @Html.DisplayNameFor(model => model.Personne.NomPrenom)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.Personne.Matricule7)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.p_StatutInscription.Statut)
        </th>
        <th class="col-sm-3">
            @Html.DisplayNameFor(model => model.p_TypeInscription.TypeInscription)
        </th>

        <th class="col-sm-1"></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Matricule7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_StatutInscription.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_TypeInscription.TypeInscription)
            </td>

            <td class="text-center">
                <a href="@Url.Action("Details", null,new { id = item.id_Inscription })"><i class="material-icons">visibility</i></a>
            </td>
        </tr>
    }
    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">@Messages.AucunInscription</td>
        </tr>
    }
</table>
