@model sachem.Models.Cours

@{
    ViewBag.Title = "Ajouter cours";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Cours", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_Cours")


    </div>
}

@Html.Partial("_Footer")
