@using sachem.Models
@model Cours

@{
    ViewBag.Title = Messages.CoursSupprimerTitre;
}

<h2>@ViewBag.Title</h2>

<h3>@Messages.CoursSupprimerQuestionSupprimerCours(Model.Code)</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Cours", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Messages.Supprimer" class="btn btn-default" />
            @Html.ActionLink(Messages.Annuler, "Index", null, null, new { @class = "btn btn-default" })
        </div>
    }
</div>
