@using Microsoft.AspNet.Identity
@using sachem.Models

<div class="row rowCourseReussisPadTop">
    <div class="col-md-6"><h5 class="hIns">Êtes-vous prêt à faire deux rencontres consécutives (3h)</h5></div>
    <div class="col-md-6">
        <div style="float:right">
            <input id="Q3" name="Q3radio" type="radio" />oui
            <input id="Q1" name="Q3radio" type="radio" style="margin-left:30px;" />non
        </div>
    </div>
</div>
<h3 style="background-color:aliceblue">Informations spécifiques</h3>
<h5 class="hIns">Les cours dans lesquels vous aimeriez donner de l'aide sont:</h5>
<div class="clearfix rowCourseReussisPadTop">
    <div class="col-md-9">
        <div class="row ins-row">
            <div class="col-md-2">1er choix</div>            
            <div class="col-md-6">@Html.DropDownList("lstCours", null, htmlAttributes: new { @class = "form-search ins-select" })</div>
            <div class="col-md-4"></div>
            </div>
        <div class="row ins-row">
            <div class="col-md-2">2e choix</div>
            <div class="col-md-6">@Html.DropDownList("lstCours", null, htmlAttributes: new { @class = "form-search ins-select" })</div>
            <div class="col-md-4"></div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">3e choix</div>
            <div class="col-md-6">@Html.DropDownList("lstCours", null, htmlAttributes: new { @class = "form-search ins-select" })</div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<br />

<p>
    <h5 class="hIns">
        Indiquez tous les cours de mathématiques(collégial) que vous avez suivis et réussis
        ainsi que le cégep où ces cours ont eu lieu :
    </h5>
</p>

<div class="clearfix rowCourseReussisPadTop" style="background-color:aliceblue">
    <div class="col-md-9">
        <div class="row ins-row">
            <div class="col-md-2">
                Cours
            </div>
            <div class="col-md-6">
                @Html.DropDownList("lstCours", null, htmlAttributes: new { @class = "form-search ins-select" })
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control text-box single-line ins-text-box"placeholder="Résultat"/>
            </div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">
                Autre:
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control text-box single-line ins-text-box"/>
            </div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">
                Collège
            </div>
            <div class="col-md-6">
                @Html.DropDownList("lstCollege", null, htmlAttributes: new { @class = "form-search ins-select" })
            </div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">
                Autre:
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control text-box single-line ins-text-box" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <input type="button" value="Supprimer" style="float:right" class="btn btn-default"/>
    </div>
</div>

<div style="padding-bottom:10px">
    <input type="button" value="Ajouter un cours" class="btn btn-default ins-btnAjouter" /><br /><br />
    <input type="button" value="Enregistrer et poursuivre" class="btn btn-default" />
    <input type="button" value="Enregistrer un brouillon" class="btn btn-default" />
    <input type="button" value="Annuler" class="btn btn-default" />
</div>

<!--<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#Session").change(function () {
            var idSession = $(this).val();

            if (idSession == '')
            {
                idSession = 0;
            }

            $.ajax({
                url: "/ConsulterCours/ListePersonne",
                data: { "idSession": idSession },
                type: "POST",
                dataType: "json",
                success: function(donnees)
                {
                    $("#Personne").empty();

                    $("#Personne").append('<option value ="">Tous</option>')

                    $.each(donnees, function (index, valeur) {
                        $("#Personne").append('<option value ="' + valeur.Value + '">' + valeur.Text + '</option>');
                    });
                }
            });
        })
    });
</script>-->



