@using sachem.Methodes_Communes
@using sachem.Models
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="fr">
    <meta name="description" content="@System.Configuration.ConfigurationManager.AppSettings.Get("descriptionDuSite")">
    <meta name="author" content="Département d'informatique du Cégep de Lévis-Lauzon (https://github.com/dinfcll/sachem) - Étudiants et enseignants en informatique de gestion de 2016 à 2017">
    <meta name="geo.position" content="46.817918;-71.150576">
    <meta name="geo.placename" content="Cégep de Lévis-Lauzon">
    <meta name="geo.region" content="CA-QC">
    <meta name="ICBM" content="46.817918;-71.150576">
    <link href="http://cll.qc.ca/admin/wp-content/themes/clevislauzon/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="http://cll.qc.ca/admin/wp-content/themes/clevislauzon/img/favicon.png" type="image/png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings.Get("nomDuSite").ToUpper()</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <div class="cll"><div class="nomSite">@System.Configuration.ConfigurationManager.AppSettings.Get("nomDuSite")</div></div>                    
            </div>
            <span style="padding-left:180px;"></span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant)
                {
                    <li>
                        @Html.ActionLink(Messages.DossierEtudiantMon, "Details", "DossierEtudiant", new { id = BrowserSessionBag.Current.id_Inscription } , null)
                    </li>
                }
                    
                @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant && (int)SachemIdentite.ObtenirTypeInscription(Session) > (int)TypeInscription.EleveAide)
                {
                    <li>
                        @Html.ActionLink(Messages.DossierEtudiant, "Index", "DossierEtudiant")
                    </li>
                }

                @if (SachemIdentite.TypeListeProf.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                {
                    <li>
                        @Html.ActionLink(Messages.DossierEtudiant, "Index", "DossierEtudiant")
                    </li>
                    <li>
                        @Html.ActionLink(Messages.CoursEnseignes, "Index", "ConsulterCours")
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages.Administration <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            @if (SachemIdentite.TypeListeAdmin.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                            {
                                <li>@Html.ActionLink(Messages.College, "EditCollege", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Contact, "EditContact", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Cours, "Index", "Cours")</li>
                                <li>@Html.ActionLink(Messages.Courriel, "EditCourrier", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Enseignants, "Index", "Enseignant")</li>
                            }
                            <li>@Html.ActionLink(Messages.Etudiants, "Index", "Etudiant")</li>
                            <li>@Html.ActionLink(Messages.Groupes, "Index", "Groupes")</li>
                            @if (SachemIdentite.TypeListeAdmin.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                            {
                                <li>@Html.ActionLink(Messages.Horaire, "EditHoraire", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Inscription, "Index", "RechercheInscription")</li>
                                <li>@Html.ActionLink(Messages.Jumelages, "Index", "Jumelage")</li>
                                <li>@Html.ActionLink(Messages.ProgrammeEtude, "Index", "ProgrammesOfferts")</li>
                                <li>@Html.ActionLink(Messages.ImporterTitre, "Index", "Importer")</li>
                            }
                        </ul>
                    </li>
                } 
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="progres hide" id="mainProgressBar">
        <div class="indeterminate"></div>
    </div>
    @RenderBody()
    <hr />
    <footer>
        <p>
            &copy; @DateTime.Now.Year - @System.Configuration.ConfigurationManager.AppSettings.Get("nomDuSite").ToUpper() -
            <a href="@Url.Action("Contact", "Home")">
                <span class="glyphicon glyphicon-phone"></span><span>&nbsp; @Messages.NousContacter</span>
            </a>
            <a style="float:right" href=@System.Configuration.ConfigurationManager.AppSettings.Get("ghProject") title="@Messages.ContacterGitHub" target="_blank"><img src="~/Images/gh.png" width="20" height="20" /></a>
        </p>
    </footer>
</div>
<script type="text/javascript">
    window.onbeforeunload = function () {
        $("#mainProgressBar").removeClass('hide');
    }
    window.onload = function () {
        $("#mainProgressBar").addClass('hide');
    }
</script>
@RenderSection("scripts", false)
</body>
</html>