@using sachem.Models
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SACHEM</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <div class="cll"><div class="nomSite">@Messages.NomDuSite</div></div>                    
            </div>
            <span style="padding-left:180px;"></span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--Si c'est un étudiant.-->
                @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
                {
                    <li>
                        @Html.ActionLink(Messages.DossierEtudiantMonTitre, "Details", "DossierEtudiant", new { id = SessionBag.Current.id_Inscription } , null)
                    </li>
                }
                    
                <!--Si c'est un tuteur.-->
                @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
                {
                    <li>
                        @Html.ActionLink(Messages.DossierEtudiantTitre, "Index", "DossierEtudiant")
                    </li>
                }

                <!--Si c'est un Enseignant et +.-->
                @if (SachemIdentite.TypeListeProf.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                {
                    <li>
                        @Html.ActionLink(Messages.DossierEtudiantTitre, "Index", "DossierEtudiant")
                    </li>
                    <li>
                        @Html.ActionLink(Messages.CoursEnseignes, "Index", "ConsulterCours")
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages.Administration <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            @if (SachemIdentite.TypeListeAdmin.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                            {
                                <li>@Html.ActionLink(Messages.College, "EditCollege", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Contact, "EditContact", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Cours, "Index", "Cours")</li>
                                <li>@Html.ActionLink(Messages.Courriel, "EditCourrier", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Enseignants, "Index", "Enseignant")</li>
                            }
                            <li>@Html.ActionLink(Messages.Etudiants, "Index", "Etudiant")</li>
                            <li>@Html.ActionLink(Messages.Groupes, "Index", "Groupes")</li>
                            @if (SachemIdentite.TypeListeAdmin.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                            {
                                <li>@Html.ActionLink(Messages.Horaire, "EditHoraire", "Parametres")</li>
                                <li>@Html.ActionLink(Messages.Inscription, "Index", "RechercheInscription")</li>
                                <li>@Html.ActionLink(Messages.Jumelages, "Index", "Jumelage")</li>
                                <li>@Html.ActionLink(Messages.ProgrammeEtude, "Index", "ProgrammesOfferts")</li>
                                <li>@Html.ActionLink(Messages.ImporterTitre, "Index", "Importer")</li>
                            }
                        </ul>
                    </li>
                } 
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="progres hide" id="mainProgressBar">
        <div class="indeterminate"></div>
    </div>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - @Messages.NomDuSite.ToUpper() -
            <a href="@Url.Action("Contact", "Home")">
                <span class="glyphicon glyphicon-phone"></span><span>&nbsp; @Messages.NousContacter</span>
            </a></p>
    </footer>
</div>
<script type="text/javascript">
    window.onbeforeunload = function () {
        $("#mainProgressBar").removeClass('hide');
    }
    window.onload = function () {
        $("#mainProgressBar").addClass('hide');
    }
</script>
@RenderSection("scripts", false)
</body>
</html>