@using sachem.Methodes_Communes
@using sachem.Models
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="fr">
    <meta name="description" content="@System.Configuration.ConfigurationManager.AppSettings.Get("descriptionDuSite")">
    <meta name="author" content="Département d'informatique du Cégep de Lévis-Lauzon (https://github.com/dinfcll/sachem) - Étudiants et enseignants en informatique de gestion de 2016 à 2017">
    <meta name="geo.position" content="46.817918;-71.150576">
    <meta name="geo.placename" content="Cégep de Lévis-Lauzon">
    <meta name="geo.region" content="CA-QC">
    <meta name="ICBM" content="46.817918;-71.150576">
    <link href="http://cll.qc.ca/admin/wp-content/themes/clevislauzon/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="http://cll.qc.ca/admin/wp-content/themes/clevislauzon/img/favicon.png" type="image/png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings.Get("nomDuSite").ToUpper()</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <div class="cll"><div class="nomSite">@System.Configuration.ConfigurationManager.AppSettings.Get("nomDuSite")</div></div>                    
            </div>
            <span style="padding-left:180px;"></span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant)
                {
                    <li>
                        @*@Html.ActionLink(Messages.DossierEtudiantMon, "Details", "DossierEtudiant", new { id = BrowserSessionBag.Current.id_Inscription } , null)*@
                        <a href="@Url.Action("Details", "DossierEtudiant", new {id = BrowserSessionBag.Current.id_Inscription})">
                            <i class="material-icons">account_box</i>@Messages.DossierEtudiantMon
                        </a>
                    </li>
                }
                    
                @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant && (int)SachemIdentite.ObtenirTypeInscription(Session) > (int)TypeInscription.EleveAide)
                {
                    <li>
                        @*@Html.ActionLink(Messages.DossierEtudiant, "Index", "DossierEtudiant")*@
                        <a href="@Url.Action("Details", "DossierEtudiant", new {id = BrowserSessionBag.Current.id_Inscription})">
                            <i class="material-icons">assignment_ind</i>@Messages.DossierEtudiant
                        </a>
                    </li>
                }

                @if (SachemIdentite.TypeListeProf.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                {
                    <li>
                        @*@Html.ActionLink(Messages.DossierEtudiant, "Index", "DossierEtudiant")*@
                        <a href="@Url.Action("Index", "DossierEtudiant")">
                            <i class="material-icons">assignment_ind</i>@Messages.DossierEtudiant
                        </a>
                    </li>
                    <li>
                        @*@Html.ActionLink(Messages.CoursEnseignes, "Index", "ConsulterCours")*@
                        <a href="@Url.Action("Index", "ConsulterCours")">
                            <i class="material-icons">local_library</i>@Messages.CoursEnseignes
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">settings</i>@Messages.Administration <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            @if (SachemIdentite.TypeListeAdmin.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                            {
                                <li>
                                    <a href="@Url.Action("EditCollege", "Parametres")">
                                        <i class="material-icons">account_balance</i>@Messages.College
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EditCollege", "Parametres")">
                                        <i class="material-icons">perm_phone_msg</i>@Messages.Contact
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Cours")">
                                        <i class="material-icons">local_library</i>@Messages.Cours
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EditCourrier", "Parametres")">
                                        <i class="material-icons">mail</i>@Messages.Courriel
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Enseignant")">
                                        <i class="material-icons">supervisor_account</i>@Messages.Enseignants
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("Index", "Etudiant")">
                                    <i class="material-icons">person</i>@Messages.Etudiants
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Groupes")">
                                    <i class="material-icons">group_work</i>@Messages.Groupes
                                </a>
                            </li>
                            @if (SachemIdentite.TypeListeAdmin.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                            {
                                <li>
                                    <a href="@Url.Action("EditHoraire", "Parametres")">
                                        <i class="material-icons">watch_later</i>@Messages.Horaire
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "RechercheInscription")">
                                        <i class="material-icons">assignment</i>@Messages.Inscription
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Jumelage")">
                                        <i class="material-icons">group</i>@Messages.Jumelages
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "ProgrammesOfferts")">
                                        <i class="material-icons">school</i>@Messages.ProgrammeEtude
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Importer")">
                                        <i class="material-icons">open_in_browser</i>@Messages.ImporterTitre
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                } 
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="progres hide" id="mainProgressBar">
        <div class="indeterminate"></div>
    </div>
    @RenderBody()
    <hr />
    <footer>
        <p>
            &copy; @DateTime.Now.Year - @System.Configuration.ConfigurationManager.AppSettings.Get("nomDuSite").ToUpper() -
            <a href="@Url.Action("Contact", "Home")">
                <i class="material-icons" style="font-size: 20px;">perm_phone_msg</i><span>@Messages.NousContacter</span>
            </a>
            <a style="float:right" href=@System.Configuration.ConfigurationManager.AppSettings.Get("ghProject") title="@Messages.ContacterGitHub" target="_blank"><img src="~/Images/gh.png" width="20" height="20" /></a>
        </p>
    </footer>
</div>
<script type="text/javascript">
    window.onbeforeunload = function () {
        $("#mainProgressBar").removeClass('hide');
    }
    window.onload = function () {
        $("#mainProgressBar").addClass('hide');
    }
</script>
@RenderSection("scripts", false)
</body>
</html>