<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sachem</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="position: absolute;">
                    <img src="~/Images/logo-cegep.png" height="70" />
                </div>
                @Html.ActionLink("Sachem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "padding-left: 100px;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @* <li>@Html.ActionLink("Accueil", "Index", "Home")</li>*@
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cours", "Index", "Cours")</li>
                            <li>@Html.ActionLink("Contact", "IndexModifier", "Parametres")</li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SACHEM -
            <a href="@Url.Action("Contact", "Home")">
                <span class="glyphicon glyphicon-phone"></span><span>&nbsp; Nous contacter</span>
            </a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
