@using sachem.Models
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sachem</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="position: absolute;">
                    <img src="~/Images/logo-cegep.png" height="70" />
                </div>
                @Html.ActionLink("Sachem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand",  @style = "padding-left: 100px;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Accueil", "Index", "Home")</li>*@
                    @*On accède à la présente session afin de voir si l'on peut afficher certains éléments*@
                    <!--Ces liens sont à changer selon les controlleurs/vues des équipes.-->

                    
                    <!--Si c'est un étudiant.-->
                    @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
                    {
                        <li>
                            @Html.ActionLink("Mon Dossier", "Details", "DossierEtudiant", new { id = SessionBag.Current.id_Inscription } , null)
                        </li>
                    }
                    
                        <!--Si c'est un tuteur.TODO: restriction tuteur-->
                        @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
                        {
                            <li>
                                @Html.ActionLink("Dossier étudiant", "Index", "DossierEtudiant")
                            </li>
                        }




                    <!--Si c'est un Enseignant et +.-->
                   @if (SachemIdentite.TypeListeAdmin.Contains(SachemIdentite.ObtenirTypeUsager(Session)))
                   {
                    <li>
                        @Html.ActionLink("Dossier étudiant", "Index", "DossierEtudiant")
                    </li>
                    <li>
                        @Html.ActionLink("Cours enseignés", "Index", "ConsulterCours")
                    </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b> </a>

                            <ul class="dropdown-menu">
                            @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Responsable || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Super)
                            {
                                <li>@Html.ActionLink("Collège", "EditCollege", "Parametres")</li>
                                <li>@Html.ActionLink("Contact", "EditContact", "Parametres")</li>
                            }
                                <li>@Html.ActionLink("Cours", "Index", "Cours")</li>
                            @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Responsable || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Super)
                            {
                                    <li>@Html.ActionLink("Courriel de confirmation", "EditCourrier", "Parametres")</li>
                                    <li>@Html.ActionLink("Enseignants", "Index", "Enseignant")</li>
                            }
                                    <li>@Html.ActionLink("Étudiants", "Index", "Etudiant")</li>
                                    <li>@Html.ActionLink("Groupes", "Index", "Groupes")</li>
                                    <li>@Html.ActionLink("Horaire d'inscription", "EditHoraire", "Parametres")</li>
                                    <li>@Html.ActionLink("Programmes offerts", "Index", "ProgrammesOfferts")</li>
                                    <li>@Html.ActionLink("Importer données", "Index", "Importer")</li>

                                 
                            </ul>
                        </li>
                    } 
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SACHEM -
            <a href="@Url.Action("Contact", "Home")">
                <span class="glyphicon glyphicon-phone"></span><span>&nbsp; Nous contacter</span>
            </a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
