@using Microsoft.AspNet.Identity
@model sachem.Models.Personne
@using sachem.Models
@if (SessionBag.Current.NomComplet !=null)
{
    string NomComplet = SessionBag.Current.NomComplet;
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" style = "width: auto; color: #999999" data-toggle="dropdown">@NomComplet<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
                <li>@Html.ActionLink("Modifier mot de passe", "ModifierPassword", "Account")</li>
            </ul>
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
