<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SelectSession").change(function () {
            var vSession = $('#SelectSession').val();

            $.ajax({
                type: 'POST',
                url:
                    @Html.Raw("\"/" + HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "/ActualiseCoursddl\""),
                data: {
                    session: vSession
                },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectCours").empty();
                    $('#SelectCours').append($('<option>', {
                        value: 0,
                        text: 'Choisir'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectCours').append($('<option>', {
                            value: item.id_Cours,
                            text: item.CodeNom

                        }));
                    });

                }
            });

            var vCours = $('#SelectCours').val()

            $.ajax({
                type: 'POST',
                url: "/RechercheEtudiant/ActualiseGroupeddl",
                data: {
                    session : vSession,
                    cours: vCours },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: 'Choisir'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectGroupe').append($('<option>', {
                            value: item.id_Groupe,
                            text: item.NoGroupe

                        }));
                    });

                }
            });
        });

        $("#SelectCours").change(function () {
            var vSession = $('#SelectSession').val();
            var vCours = $('#SelectCours').val()

            $.ajax({
                type: 'POST',
                url: "/RechercheEtudiant/ActualiseGroupeddl",
                data: {
                    session : vSession,
                    cours: vCours },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: 'Choisir'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectGroupe').append($('<option>', {
                            value: item.id_Groupe,
                            text: item.NoGroupe

                        }));
                    });

                }
            });
        });




    });

</script>

<div class="form-inline">

    <h4>Recherche</h4>

    <table class="tsearch">
        @*Les critères de recherches de la page, ceux-ci sont choisi par l'utilisateur et possèdent une valeur par défaut*@
        <tr>
            <td>Matricule :</td>
            <td>@Html.Editor("Matricule", new { htmlAttributes = new { @class = "form-control", @maxlength = "7" } })</td>
            <td><b><u>ou</u></b></td>
            <td>Session :</td>
            <td>@Html.DropDownList("SelectSession", null, "Choisir", htmlAttributes: new { @class = "form-search" })</td>
            <td>Cours :</td>
            <td>@Html.DropDownList("SelectCours", null, "Choisir", htmlAttributes: new { @class = "form-search" })</td>
            <td>Groupe :</td>
            <td>@Html.DropDownList("SelectGroupe", null, "Choisir", htmlAttributes: new { @class = "form-search" })</td>
            <td><input type="submit" value="Rechercher" class="form-search" /></td>
        </tr>
    </table>
    <table class="tsearch">
        <tr>
            
        </tr>
    </table>
