@using sachem.Models
<script type="text/javascript">
    $(document).ready(function () {
        $("#SelectSession").change(function () {
            var vSession = $('#SelectSession').val();

            $.ajax({
                type: 'POST',
                url:
                    @Html.Raw("\"/" + HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] + "/ActualiseCoursddl\""),
                data: {
                    session: vSession
                },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectCours").empty();
                    $('#SelectCours').append($('<option>', {
                        value: 0,
                        text: '@Messages.Tous'
                    }));

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: '@Messages.Tous'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectCours').append($('<option>', {
                            value: item.id_Cours,
                            text: item.CodeNom

                        }));
                    });

                }
            });

            var vCours = $('#SelectCours').val();

            $.ajax({
                type: 'POST',
                url: "/Etudiant/ActualiseGroupeddl",
                data: {
                    session : vSession,
                    cours: vCours },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: '@Messages.Tous'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectGroupe').append($('<option>', {
                            value: item.id_Groupe,
                            text: item.NoGroupe

                        }));
                    });

                }
            });
        });

        $("#SelectCours").change(function () {
            var vSession = $('#SelectSession').val();
            var vCours = $('#SelectCours').val();

            $.ajax({
                type: 'POST',
                url: "/Etudiant/ActualiseGroupeddl",
                data: {
                    session : vSession,
                    cours: vCours },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: 'Tous'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectGroupe').append($('<option>', {
                            value: item.id_Groupe,
                            text: item.NoGroupe

                        }));
                    });
                }
            });
        });
    });
</script>

<div class="form-inline">

    <h4>@Messages.Recherche</h4>

    <table class="table-condensed col-md-12">
        <tr>
            <td class="col-md-1">@Messages.NoDa:</td>
            <td class="col-md-1">@Html.Editor("Matricule", new { htmlAttributes = new { @class = "form-control", maxlength = "7" } })
                <span style="font-weight: bold; text-decoration: underline;">ou</span></td>
            <td class="col-md-1">@Messages.Session:</td>
            <td class="col-md-2">@Html.DropDownList("SelectSession", null, Messages.Toutes, new { @class = "form-search", id ="SelectSession" })</td>
            <td class="col-md-1">@Messages.Cours:</td>
            <td class="col-md-2">@Html.DropDownList("SelectCours", null, Messages.Tous, new { @class = "form-search", id="SelectCours" })</td>
            <td class="col-md-1">@Messages.Groupe:</td>
            <td class="col-md-2">@Html.DropDownList("SelectGroupe", null, Messages.Tous, new { @class = "form-search", id="SelectGroupe" })</td>
            <td class="col-md-1"><input type="submit" value="@Messages.Rechercher" class="form-search" /></td>
        </tr>
    </table>

</div>
