@model sachem.Models.Groupe

<div class="form-group">
    @Html.LabelFor(model => model.NoGroupe, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.NoGroupe, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NoGroupe, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.id_Sess, "Session", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("id_Sess", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.id_Sess, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.id_Enseignant, "Enseignant", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @if (ViewBag.Disabled != null && ViewBag.Disabled == "")
        {
            @Html.DropDownList("id_Enseignant", null, htmlAttributes: new { @class = "form-control" })
        }
        else
        {
            @Html.DropDownList("id_Enseignant", null, htmlAttributes: new { @class = "form-control", @disabled = ViewBag.Disabled })
        }
        @Html.ValidationMessageFor(model => model.id_Enseignant, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.id_Cours, "Cours", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("id_Cours", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.id_Cours, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Enregistrer" class="btn btn-default" />
        @if (Request.UrlReferrer != null)
        {
            if (Request.UrlReferrer.ToString().Contains("ConsulterCours/Details")) // Si on arrive du controller "ConsulterCours"
            {
                @Html.ActionLink("Annuler", "Details", "ConsulterCours", new { idCours = Model.Cours.id_Cours, idSess = Model.id_Sess }, new { @class = "btn btn-default" })
            }
            else // Sinon
            {
                @Html.ActionLink("Annuler", "Index", null, null, new { @class = "btn btn-default" })
            }
        }
    </div>
</div>
