@using sachem.Models
@model PagedList.IPagedList<PersEtuProg>

@{
    ViewBag.Title = Messages.GroupesAjouterEtudiantTitre;
}

<h2>@ViewBag.Title</h2>

@TempData["Success"]

@if ((string)TempData["ErrorAjoutEleve"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorAjoutEleve"]
    </div>

}   
@if ((string)TempData["ErrorDep"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorDep"]
        <br />
        @using (Html.BeginForm("Deplacer", "Groupes", null, FormMethod.Post, new { @class = "form-inline", role = "form", style = "display:inline;" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="idGroupeEtudiant" value="@TempData["idGe"]" />
            <input type="hidden" name="id_groupedepl" value="@ViewBag.idg" />
            <button style="display:inline;padding:0;margin:0;" type="submit" class="btn btn-link">@Messages.GroupesEtudiantDeplacer</button>
        }|
      @Html.ActionLink(Messages.GroupesEtudiantsAjouter, "AjouterEleveGet", new { idg = TempData["idg"], idp = TempData["personne"], noclick = 1 }) |
        @Html.ActionLink(Messages.Annuler, "AjouterEleve", new { idg = TempData["idg"], ViewBag.page })
    </div>
}
@using (Html.BeginForm("AjouterEleve", "Groupes", new {ViewBag.idg}, FormMethod.Post, new {@class = "form-inline", role = "form"}))
{
    <p>
        <h4>@Messages.Recherche</h4>
    </p>
    <table class="table-condensed" style="margin-bottom:10px;">
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstOrDefault().p.Matricule)</td>
            <td>@Html.Editor("Matricule", new {htmlAttributes = new {@class = "form-control"}})</td>
            <td>@Html.DisplayNameFor(model => model.FirstOrDefault().p.Nom)</td>
            <td>@Html.Editor("Nom", new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.DisplayNameFor(model => model.FirstOrDefault().p.Prenom)</td>
            <td>@Html.Editor("Prenom", new { htmlAttributes = new { @class = "form-control" } })</td>
            <td><input type="submit" value="@Messages.Rechercher" class="form-search" /></td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().p.NomPrenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().p.Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().p.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().p.p_Sexe.Sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().epe.ProgrammeEtude.CodeNomProgramme)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.p.NomPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p.Matricule7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p.p_Sexe.Sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.epe.ProgrammeEtude.CodeNomProgramme)
            </td>
            <td>
              @Html.ActionLink(Messages.Ajouter, "AjouterEleveGet", new { ViewBag.idg, idp = item.p.id_Pers })
            </td>
        </tr>
    }

</table>

@Html.Partial("_PageRecherche", Model)

<div>
    @Html.ActionLink(Messages.RetourDetailsGroupe, "Edit", new { id = ViewBag.idg })
</div>
