@using PagedList.Mvc
@model PagedList.IPagedList<sachem.Models.Personne>

@{
    ViewBag.Title = "AjouterEleve";
}

<h2>AjouterEleve</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NomPrenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Matricule7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().p_Sexe.Sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProgEtu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricule7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_Sexe.Sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgEtu)
            </td>
            <td>
                @Html.ActionLink("Ajouter", "AjouterEleveGET", new { idg = ViewBag.idg, idp = item.id_Pers })
            </td>
        </tr>
    }

</table>

@if (Model.PageCount > 0)
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
        <div>
            @Html.PagedListPager(Model, page => Url.Action("AjouterEleve", new { idg=ViewBag.idg, page }))
        </div>
    </div>
}