@using sachem.Models
@model Groupe

@{
    ViewBag.Title = Messages.GroupesAjouterTitre;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Groupes", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Messages.Groupe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_Groupes")
    </div>
}
