@using sachem.Models
@model Groupe

@{
    ViewBag.Title = Messages.GroupesSupprimerTitre;
}

<h2>@ViewBag.Title</h2>

<h3>@Messages.GroupesSupprimerQuestion(Model.NoGroupe)</h3>
<div>
    <h4>@Messages.Groupe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoGroupe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personne.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.PrenomNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session.NomSession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.NomSession)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        
            if ((string)ViewBag.Error != null)
            {
                @ViewBag.Error
            }

        <div class="form-actions no-color">
             <input type="submit" value="@Messages.Supprimer" class="btn btn-default"/>
            @Html.ActionLink(@Messages.Annuler, "Index", null, null, new { @class = "btn btn-default" })
        </div>
    }
</div>
