@model sachem.Models.GroupeEtudiant

@{
    ViewBag.Title = "Suppression d'élève";
}

<h2>@ViewBag.Title</h2>

<h3>@sachem.Models.Messages.Q_009(Model.Personne.Matricule7,Model.Groupe.NoGroupe)</h3>
<div>
    <h4>Groupe</h4>
    <hr />
    
    <div class="form-group">
        @Html.LabelFor(model => model.Personne.Nom, null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.DisplayFor(model => model.Personne.NomPrenom)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Groupe.NoGroupe, null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.DisplayFor(model => model.Groupe.NoGroupe)
        </div>
    </div>

    @using (Html.BeginForm("DeleteEleve", "Groupes"))
    {
        @Html.AntiForgeryToken()

        <div class="form-group col-md-offset-2">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Edit",new { id = Model.Groupe.id_Groupe})
        </div>
    }
</div>
