@model sachem.Models.GroupeEtudiant

@{
    ViewBag.Title = "Supprimer des élèves d'un groupe";
}

<h2>@ViewBag.Title</h2>

<h3>@sachem.Models.Messages.RetirerEtudiantDUnGroupe(Model.Personne.Matricule7,Model.Groupe.NoGroupe)</h3>
<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personne.NomPrenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.NomPrenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groupe.NoGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groupe.NoGroupe)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteEleve", "Groupes"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            @Html.ActionLink("Annuler", "Edit", null, new { id = Model.Groupe.id_Groupe }, new { @class = "btn btn-default" })
        </div>
    }
</div>
