@using sachem.Models
@model GroupeEtudiant

@{
    ViewBag.Title = Messages.GroupesDeplacerEtudiantTitre;
}
<h2>@ViewBag.Title</h2>

<div>    
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Personne.Nom, null, new { @class = "control-label col-md-2" })
        <div>
            @Html.DisplayFor(model => model.Personne.NomPrenom)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Groupe.NoGroupe, null, new { @class = "control-label col-md-2" })
        <div>
            @Html.DisplayFor(model => model.Groupe.NoGroupe)
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Groupe.NoGroupe, null, new { @class = "control-label col-md-2" })
            <div>
                @Html.DropDownList("id_groupedepl", null , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_GroupeEtudiant, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" display="none;" name="idGroupeEtudiant" value="@Model.id_GroupeEtudiant"> 

       <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="@Messages.GroupesEtudiantDeplacer" class="btn btn-default" /> 
                @Html.ActionLink(Messages.Annuler, "Edit", null, new { id = Model.Groupe.id_Groupe }, new { @class = "btn btn-default" })
            </div>
       </div>
    }
</div>
