@model sachem.Models.GroupeEtudiant

@{
    ViewBag.Title = "Déplacer";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Déplacer un élève</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Groupe.NoGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groupe.NoGroupe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personne.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.NomPrenom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Groupe.NoGroupe, "Groupe cible", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_groupedepl", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_GroupeEtudiant, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" display="none;" name="idGroupeEtudiant" value="@Model.id_GroupeEtudiant"> 
        

        <div class="form-actions no-color">
            <input type="submit" value="Déplacer vers ce groupe" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Edit", new { id = Model.Groupe.id_Groupe })
        </div>
    }
</div>
