@model sachem.Models.Groupe

@{
    ViewBag.Title = "Modification";
}

<h2>Modification</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Groupes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_Groupe)

        <div class="form-group">
            @Html.LabelFor(model => model.id_Cours, "id_Cours", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Cours", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_Cours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_Sess, "id_Sess", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Sess", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_Sess, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_Enseignant, "id_Enseignant", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Enseignant", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_Enseignant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoGroupe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoGroupe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoGroupe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Ajouter des étudiants au groupe", "Eleve", "Ajouter")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Personne.NomPrenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personne.Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personne.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personne.p_Sexe.Sexe)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GroupeEtudiant.OrderBy(x => x.Personne.Matricule7).OrderBy(x => x.Personne.NomPrenom))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Matricule7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.p_Sexe.Sexe)
            </td>
            <td>
                @Html.ActionLink("Déplacer", "Details", new { id = item.id_Groupe }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.id_Groupe })
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Retour à la recherche des groupes", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
