@model PagedList.IPagedList<sachem.Models.Groupe>

@{
    ViewBag.Title = "Groupes";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("Index", "Groupes", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{

    @Html.Partial("_RechercheGroupe")

    @TempData["Success"]

    if ((string)TempData["Questions"] != null)
    {
        @TempData["Questions"]
        <br />

            <tr>
                <td>
                    @Html.ActionLink("Oui", "AjouterEleve", new { idg = @TempData["idg"] ,page = ViewBag.page}) |
                    @Html.ActionLink("Non", "Index", new { idg = @TempData["idg"]}) 
                </td>
            </tr>

    }

   <h4>Recherche</h4>

    <table class="table-condensed">
        <tr>
            <td>Session :</td>
            <td>@Html.DropDownList("Sessions", null, "Toutes", htmlAttributes: new { @class = "form-search" })</td>
            <td>Enseignant :</td>
            <td>
                @if (ViewBag.Disabled != null && ViewBag.Disabled == "")
                    {
                    @Html.DropDownList("Enseignants", null, "Tous", htmlAttributes: new { @class = "form-search" })
                }
                else
                {
                    @Html.DropDownList("Enseignants", null, htmlAttributes: new { @disabled = ViewBag.Disabled, @class = "form-search" })
                }
            </td>
            <td>Cours :</td>
            <td>@Html.DropDownList("Cours", null, "Tous", htmlAttributes: new { @class = "form-search" })</td>
            <td><input type="submit" value="Rechercher" class="form-search" /></td>
        </tr>
    </table>
}

<div style="margin-top:5px;margin-bottom:10px;">@Html.ActionLink("Ajouter un groupe", "Create", null, null, new { @class = "btn btn-default" })</div>
    
<table class="table">
    <tr>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Session.NomSession)
        </th>
        <th class="col-sm-5">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.CodeNom)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.FirstOrDefault().NoGroupe)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Personne.NomPrenom)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.FirstOrDefault().nbPersonneGroupe)
        </th>
        <th class="col-sm-2"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Session.NomSession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CodeNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoGroupe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
        </td>
        <td>
            @item.GroupeEtudiant.Count
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new {id = item.id_Groupe}) |
            @Html.ActionLink("Supprimer", "Delete", new {id = item.id_Groupe})
        </td>
    </tr>
}
@if (!Model.Any())
{
    <tr>
        <td colspan="6">@sachem.Models.Messages.AucunGroupe</td>
    </tr>
}
</table>

@Html.Partial("_PageRecherche", Model)
