@using sachem.Models;
@model Inscription

<h4 class="page-header">@Messages.Disponibilites</h4>

<table class="table-bordered table-striped col-sm-12">
    @{ var jours = ((sachem.Controllers.JumelageController)ViewContext.Controller)
            .RetourneListeJoursSemaine();}
    <tr>
        <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@Messages.Heures</th>
        @foreach (var jour in jours)
        {
            <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@jour</th>
        }
    </tr>
    @{ var listeDispoUsagerDeTableauDisponibilite = 
            ((sachem.Controllers.JumelageController)ViewContext.Controller)
            .RetourneDisponibiliteJumelageUsager(Model.id_Inscription, Model.id_TypeInscription, Model.id_Sess, 0); }
    @{
        foreach (var v in listeDispoUsagerDeTableauDisponibilite)
        {
            <tr>
                <td class="text-center">
                    @(v.Key)
                </td>
                @foreach (var w in v.Value)
                {
                    if (w.EstDispoMaisJumele && !w.EstDispo)
                    {
                        if (!w.EstConsecutiveDonc3hrs)
                        {
                            <td class="text-center" style="background-color:#e57373;" id="@w.NomCase" name="@w.NomCase">@Messages.Jumele</td>
                        }
                        else
                        {
                            <td class="text-center" style="background-color:#e57373;" id="@w.NomCase" name="@w.NomCase"></td>
                        }
                    }
                    else if (w.EstDispoMaisJumele && w.EstDispo)
                    {
                        <td class="text-center" style="background-color:#b0bec5;" id="@w.NomCase" name="@w.NomCase">@w.NbreUsagerMemeDispo</td>
                    }
                    else if (w.EstDispo)
                    {
                        <td class="text-center" style="background-color:#81c784;" id="@w.NomCase" name="@w.NomCase">@w.NbreUsagerMemeDispo</td>
                    }
                    else
                    {
                    <td class="text-center" id = "@w.NomCase" name="@w.NomCase"></td>
                    }
                }
            </tr>
        }
    }
</table>
<br />
