@using sachem.Models
@model Inscription

@{ var listeJumeleursPotentiels = ((sachem.Controllers.JumelageController)ViewContext.Controller)
                                    .RetourneJumeleursPotentiels(Model.id_Inscription, Model.id_TypeInscription, Model.id_Sess);
    var k = 0; }

<script type="text/javascript">
    function AjoutModal(jour, minutes, idVu, idJumeleA, nomJumeleA, nomVu, typeEleveJumeleA, typeEleveVu, plageHoraire, vuTypeInsc, estConsecutif) {
        var modal = document.getElementById("modalAjout");
        var boutonAjout = document.getElementById("btnAjout");
        $("#modalAjoutVu").html(nomVu);
        $("#modalAjoutJumeleA").html(nomJumeleA);
        $("#modalPlageHoraire").html(plageHoraire);
        $("#modalAjoutEnseignantError").addClass("hide");
        $("#modalAjoutTypeEleveVu").html(typeEleveVu);
        $("#modalAjoutTypeEleveJumeleA").html(typeEleveJumeleA);
        if (estConsecutif)
        {
            $("#modalConditionConsecutif").removeClass("hide");
        }
        else
        {
            $("#modalConditionConsecutif").addClass("hide");
        }
        modal.style.display = "block";
        boutonAjout.onclick = function () {
            Ajout(idVu, idJumeleA, jour, minutes, vuTypeInsc);
        }
    }

    function Ajout(idVu, idJumeleA, jour, minutes, vuTypeInsc) {
        var estConsecutif = document.getElementById("modalConsecutif").value;
        var idEnseignant = document.getElementById("modalAjoutEnseignant").value;
        if(idEnseignant!=="")
        {        
            $("#modalAjout").modal("hide");
            $.ajax({
                url: "/Jumelage/AjoutJumelage",
                data: { "idVu": idVu, "idJumeleA": idJumeleA, "Jour": jour, "minutes": minutes, "vuTypeInsc": vuTypeInsc, "idEnseignant": idEnseignant, "estConsecutif": estConsecutif },
                type: "POST",
                success: function () {
                    location.reload(true);
                }
            });
            
        }
        else {
            $("#modalAjoutEnseignantError").removeClass("hide");
        }
    }
</script>

@if (listeJumeleursPotentiels.Any())
{
    <h4 class="page-header">@Messages.JumelagePossible</h4>

    <div class="panel-group" id="accordion">

    @foreach (var j in listeJumeleursPotentiels)
    {
        k++;
        <div class="panel panel-default">
            <div class="hover-student">
                    <table>
                        <tr>
                            <th class="panel-heading col-sm-1">
                                <a class="nodeco" data-toggle="collapse" data-parent="#accordion" href="#collapse_@k">
                                    <i class="material-icons col-sm-1" style="margin-top:-4px;">people</i>
                                </a>
                            </th>
                            <th class="panel-heading col-sm-6">
                                <a class="nodeco" data-toggle="collapse" data-parent="#accordion" href="#collapse_@k">@j.Personne.NomPrenom </a>
                            </th>
                            <th class="panel-heading col-sm-2">
                                <a class="nodeco" data-toggle="collapse" data-parent="#accordion" href="#collapse_@k">@j.Personne.Matricule7</a>
                            </th>
                            <th class="panel-heading  col-sm-3">
                                <a class="nodeco" data-toggle="collapse" data-parent="#accordion" href="#collapse_@k">@j.p_TypeInscription.TypeInscription </a>
                            </th>
                            <th class="panel-heading col-sm-1">
                                <a href="@j.id_Inscription">@Messages.Consulter</a>
                            </th>
                        </tr>
                    </table>
            </div>
            <div id="collapse_@k" class="panel-collapse collapse">
                <table class="table-bordered table-striped col-sm-12">
                    @{ var jours = ((sachem.Controllers.JumelageController)ViewContext.Controller)
              .RetourneListeJoursSemaine();}
                    <tr>
                        <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@Messages.Heures</th>
                        @foreach (var jour in jours)
                        {
                            <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@jour</th>
                        }
                    </tr>
                    @{ var listeDispoUsagerDeTableauDisponibilite = ((sachem.Controllers.JumelageController)ViewContext.Controller)
              .RetourneDisponibiliteJumelageUsager(j.id_Inscription, j.id_TypeInscription, j.id_Sess, Model.id_Inscription); }
                    @{
                        foreach (var v in listeDispoUsagerDeTableauDisponibilite)
                        {
                            <tr>
                                <td class="text-center">
                                    @(v.Key)
                                </td>
                                @foreach (var w in v.Value)
                                {
                                    if (w.EstDispoMaisJumele && !w.EstDispo)
                                    {
                                        if (!w.EstConsecutiveDonc3hrs)
                                        {
                                            <td class="text-center" style="background-color:#e57373;" id="@w.NomCase" name="@w.NomCase">@Messages.Jumele</td>
                                        }
                                        else
                                        {
                                            <td class="text-center" style="background-color:#e57373;" id="@w.NomCase" name="@w.NomCase"></td>
                                        }
                                    }
                                    else if (w.EstDispoMaisJumele && w.EstDispo)
                                    {
                                        <td class="text-center" style="background-color:#b0bec5;" id="@w.NomCase" name="@w.NomCase">@w.NbreUsagerMemeDispo</td>
                                    }
                                    else if (w.EstDispo)
                                    {
                                            <td class="text-center" style="position:relative;background-color:#81c784;" id="@w.NomCase" name="@w.NomCase">
                                            @w.NbreUsagerMemeDispo                                                
                                            @if (w.NbreUsagerMemeDispo > 0 && w.EstDispoEtCompatible && w.EstDispoEtCompatibleEtConsecutif)
                                            {
                                                <a href="#" onclick="AjoutModal('@w.Jour',@w.Minutes,@Model.id_Inscription, @j.id_Inscription,'@j.Personne.PrenomNom','@Model.Personne.PrenomNom',
                                                   '@j.p_TypeInscription.TypeInscription','@Model.p_TypeInscription.TypeInscription','@w.NomCaseComplete', @Model.id_TypeInscription, 1)"
                                                   data-toggle="modal" data-target="#modalAjout" class="modal-open">
                                                    <i class="material-icons" style="color:#fff;right:10px;top:-2px;text-shadow: 2px 2px #999;position:absolute;">group_add</i>
                                                </a>
                                            }
                                            else if (w.NbreUsagerMemeDispo > 0 && w.EstDispoEtCompatible && !w.EstDispoEtCompatibleEtConsecutif)
                                            {
                                                <a href="#" onclick="AjoutModal('@w.Jour',@w.Minutes,@Model.id_Inscription, @j.id_Inscription,'@j.Personne.PrenomNom','@Model.Personne.PrenomNom',
                                                   '@j.p_TypeInscription.TypeInscription','@Model.p_TypeInscription.TypeInscription','@w.NomCaseComplete', @Model.id_TypeInscription, 0)"
                                                   data-toggle="modal" data-target="#modalAjout">
                                                    <i class="material-icons" style="color:#fff;right:10px;top:-2px;text-shadow: 2px 2px #999;position:absolute;">group_add</i>
                                                </a>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center" id="@w.NomCase" name="@w.NomCase"></td>
                                    }
                                }
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
       }
    </div>
  
}
<div class="container">
    <div class="modal fade" id="modalAjout" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Messages.JumelageAjouterJumelage</h4>
                </div>
                <div class="modal-body">
                    @Messages.JumelageAjouterQuestion()
                    @Html.DropDownList("Superviseur", null, "Choisir l'enseignant",new { @class = "form-search", id="modalAjoutEnseignant"})
                    <br/><br /><p id="modalAjoutEnseignantError" class="text-danger hide">@Messages.JumelageAjouterErreurSelectionnerEnseignant</p>
                    <span id="modalConditionConsecutif" class="hide">
                        @Messages.JumelageAjouterQuestionConsecutif<br/>
                        <select class="form-control" id="modalConsecutif">
                            <option id="nonConsecutif" value="0">@Messages.Non</option>
                            <option id="ouiConsecutif" value="1">@Messages.Oui</option>
                        </select>
                    </span>
                </div>
                <div class="modal-footer">
                    <button id="btnAjout" type="button" class="btn btn-primary">@Messages.Ajouter</button>
                    <button type="button" data-dismiss="modal" class="btn">@Messages.Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>
