@using sachem.Models
<h4>@Messages.Recherche</h4>

<table class="table-condensed">
    <tr>
        <td>
            @Messages.Session
        </td>
        <td>
            @Html.DropDownList("Session", null, Messages.Toutes, new { @class = "form-search" })
        </td>
        <td>
            @Messages.TypeInscription :
        </td>
        <td>
            @Html.DropDownList("Inscription", null, Messages.Tous, new { @class = "form-search" })
        </td>
        <td>
            <input type="submit" value="@Messages.Rechercher," class="btn btn-default" style="margin-top:5px;margin-bottom:10px;"/>
        </td>
    </tr>
</table>
