@using sachem.Models
@model Inscription

@{
    ViewBag.Title = Messages.Jumelage;
}

<h2>@ViewBag.Title</h2>
<p class="text-success">
    @ViewBag.Succes
</p>
<p class="text-danger">
    @ViewBag.Erreur
</p>
<div>
    <h4 class="page-header">@Messages.IdentificationEtudiant</h4>
    <dl class="dl-horizontal col-sm-6" style="right:0;margin-top:0;position:absolute;">
        <dt>
            @Html.DisplayNameFor(model => model.p_TypeInscription.TypeInscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_TypeInscription.TypeInscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_StatutInscription.Statut)
        </dt>

        <dd>
            @{var count = ((sachem.Controllers.JumelageController) ViewContext.Controller).RetourneNbreJumelageEtudiant(Model.p_TypeInscription.id_TypeInscription == 1 ? Model.Jumelage.Count: Model.Jumelage1.Count);}
            @(count)
        </dd>
    </dl>
    <dl class="dl-horizontal col-sm-12">
        <dt>
            @Html.DisplayNameFor(model => model.Personne.Matricule7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.Matricule7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personne.NomPrenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.NomPrenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personne.DateNais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.DateNais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personne.Courriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.Courriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personne.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personne.Telephone)
        </dd>
    </dl>
    
    </div>

@using (Html.BeginForm("Details", "Jumelage", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.Partial("_Disponibilites")
}

@using (Html.BeginForm("Details", "Jumelage", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.Partial("_JumelagesPossibles")
}

@using (Html.BeginForm("Details", "Jumelage", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.Partial("_JumelagesAvec")
}
