@using sachem.Models
@model IEnumerable<Inscription>
@{
    ViewBag.Title = Messages.Jumelage;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Jumelage", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.Partial("_RechercheEtudiantJumele")
}

<table class="table">
    <tr>
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.Personne.NomPrenom)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Personne.Matricule7)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.p_TypeInscription.TypeInscription)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.p_StatutInscription.Statut)
        </th>        
        <th class="col-md-1"></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Matricule7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_TypeInscription.TypeInscription)
            </td>
            <td>
                @{
                    var count = ((sachem.Controllers.JumelageController) ViewContext.Controller).RetourneNbreJumelageEtudiant(item.p_TypeInscription.id_TypeInscription == 1 ? item.Jumelage.Count : item.Jumelage1.Count);
                }
                @(count)
            </td>
            <td class="text-center">
                <a href="@Url.Action("Details", null,new { id = item.id_Inscription})"><i class="material-icons">visibility</i></a>
            </td>
        </tr>
    }
    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">@Messages.AucunJumelage</td>
        </tr>
    }
</table>
