@using sachem.Models
@model Personne

<div class="form-group">
        @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control",maxlength = 30 } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
</div>
<div class="form-group">
        @Html.LabelFor(model => model.Prenom, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" ,maxlength = 30 } })
            @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
        </div>
</div>

<div class="form-group">
        @Html.LabelFor(model => model.id_Sexe, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("liste_sexe", null, Messages.VeuillezChoisir, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_Sexe, "", new { @class = "text-danger" })
        </div>
</div>

<div class="form-group">
        @Html.LabelFor(model => model.DateNais,new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateNais, new { htmlAttributes = new { @class = "form-control", PlaceHolder = Messages.PlaceHolderDate, required = "required", title = Messages.ChampRequis } })
            @Html.ValidationMessageFor(model => model.DateNais, "", new { @class = "text-danger" })
        </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Courriel, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Courriel, new { htmlAttributes = new { @class = "form-control", required = "required", title = Messages.ChampRequis, maxlength = 256} })
        @Html.ValidationMessageFor(model => model.Courriel, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.NomUsager, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.NomUsager, new { htmlAttributes = new { @class = "form-control", required = "required", title = Messages.ChampRequis, maxlength = 25}})
        @Html.ValidationMessageFor(model => model.NomUsager, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.id_TypeUsag, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("id_TypeUsag", null, Messages.VeuillezChoisir, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.id_TypeUsag, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MP, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.MP, new { htmlAttributes = new { @class = "form-control", type = "password", minlength = "6", title = Messages.LongueurDeSixCarateres } })
        @Html.ValidationMessageFor(model => model.MP, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password", minlength = "6", title = Messages.LongueurDeSixCarateres } })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Actif, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.Actif)
            @Html.ValidationMessageFor(model => model.Actif, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="@Messages.Enregistrer" class="btn btn-default" />
        @Html.ActionLink(Messages.Annuler, "Index", null, null, new { @class = "btn btn-default" })
    </div>
</div>
