@model sachem.Models.Personne

@{
    ViewBag.Title = "Ajouter Enseignant";
}

<h2>Ajouter Enseignant</h2>


@using (Html.BeginForm("Create", "Enseignant", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Personne</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_Sexe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Sexe", null, "Choisir", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_Sexe, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.DateNais,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateNais,  new { htmlAttributes = new { @class = "form-control", PlaceHolder="AAAA/MM/JJ" }})
                @Html.ValidationMessageFor(model => model.DateNais, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Courriel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Courriel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Courriel, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.NomUsager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomUsager, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomUsager, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_TypeUsag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_TypeUsag", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_TypeUsag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <!-- @Html.EditorFor(model => model.MP, new { htmlAttributes = new { @class = "form-control" } }) -->
                @Html.PasswordFor(model => Model.MP, new { id = "MP", Textmode = "Password" })
                @Html.ValidationMessageFor(model => model.MP, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ConfMP,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- @Html.EditorFor(model => model.ConfMP, new { htmlAttributes = new { @class = "form+-control" } }) -->
                @Html.PasswordFor(model => Model.ConfMP, new { id = "ConfMP", Textmode = "Password" })
                @Html.ValidationMessageFor(model => model.ConfMP, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Actif, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Actif)
                    @Html.ValidationMessageFor(model => model.Actif, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregister" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la recherche des enseignants", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
