@using sachem.Models
@model Personne

@{
    ViewBag.Title = Messages.EnseignantSupprimerTitre;
}

<h2>@ViewBag.Title</h2>

<h3>@Messages.EnseignantSupprimerQuestionSupprimerEnseignant(Model.NomUsager)</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom), @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomUsager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomUsager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_TypeUsag.TypeUsag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_TypeUsag.TypeUsag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Messages.Supprimer" class="btn btn-default" />
            @Html.ActionLink(Messages.Annuler, "Index", null, null, new { @class = "btn btn-default" })
        </div>
    }
</div>
