@using sachem.Models
@model Personne

@{
    ViewBag.Title = Messages.EnseignantModifierTitre;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Enseignant", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_Pers)
        @Html.Partial("_Enseignant")
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink(Messages.ConsulterGroupesEnseignant, "Index", "Groupes", new { id = Model.id_Pers }, new { @class = "" })
            </div>
        </div>
    </div>
}
