@using sachem.Models
@model PagedList.IPagedList<Personne>

@{
    ViewBag.Title = Messages.Enseignants;
}

<h2>@ViewBag.Title</h2>
<h4>@Messages.Recherche</h4>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-success">
    @Html.ViewBag.Success
    @TempData["Success"]
</p>
<p class="text-danger">
    @TempData["Error"]
</p>

@using (Html.BeginForm("Index", "Enseignant", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    <div class="recherche">
        <div class="row">
            <div class="col-md-1">
                <div class="col-md-6 recherche-label">@Messages.Actif</div>
                <div class="col-md-6 recherche-label">@Html.CheckBox("Actif", (bool)ViewBag.Actif)</div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-default" style="margin-bottom: 10px;">
                    <i class="material-icons">search</i>@Messages.Rechercher
                </button>
            </div>
        </div>
    </div>
}
<div style="margin-top: 10px; margin-bottom: 10px;">
    <a class = "btn btn-default" href="@Url.Action("Create")"><i class="material-icons">add</i>@Messages.EnseignantAjouterTitre</a>
</div>
    <table class="table">
        <tr>
            <th class="col-sm-6">
                @Html.DisplayNameFor(model => model.First().NomPrenom)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.First().NomUsager)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.First().p_TypeUsag.TypeUsag)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.First().Actif)
            </th>
            <th class="col-sm-1"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomPrenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomUsager)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.p_TypeUsag.TypeUsag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actif)
                </td>
                <td class="text-center">
                    <a href="@Url.Action("Edit", null,new {id = item.id_Pers})"><i class="material-icons">edit</i></a>
                    <a href="@Url.Action("Delete", null,new {id = item.id_Pers})"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }
        @if (!Model.Any())
        {
            <tr>
                <td colspan="6">@Messages.AucunEnseignant</td>
            </tr>
        }

    </table>
@Html.Partial("_PageRecherche", Model)