@using sachem.Models
@model IEnumerable <CoursSuivi>

<hr />
<div>
    <h4>@Messages.DossierEtudiantCoursAnterieur</h4>
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
{
    <div>@Html.ActionLink(Messages.DossierEtudiantAjouterCoursAnterieur, "Create", "CoursSuivi", new { id = ViewBag.idPers }, new { @class = "btn btn-default", style="margin-bottom:10px;" })</div>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Cours.CodeNom)
            </th>
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || ViewBag.idTypeInsc == 1)
{
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.First().Session.NomSession)
            </th>
}
@if ((SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur && ViewBag.idTypeInsc != 1) || ViewBag.idTypeInsc != 1)
{
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.First().p_College.College)
            </th>
}
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.First().resultat)
            </th>
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || ViewBag.idTypeInsc == 1)
{
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.First().p_StatutCours.Statut)
            </th>
}
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
{
            <th class="col-sm-2">
            </th>
}
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(string.IsNullOrEmpty(item.autre_Cours) ? Html.DisplayFor(modelItem => item.Cours.CodeNom) : Html.DisplayFor(modelItem => item.autre_Cours))
                </td>
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || ViewBag.idTypeInsc == 1)
{
                <td>
                    @Html.DisplayFor(modelItem => item.Session.NomSession)
                </td>
}
@if ((SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur && ViewBag.idTypeInsc != 1) || ViewBag.idTypeInsc != 1)
{
                <td>
                    @(string.IsNullOrEmpty(item.autre_College) ? Html.DisplayFor(modelItem => item.p_College.College) : Html.DisplayFor(modelItem => item.autre_College))
                </td>
}
                <td>
                    @Html.DisplayFor(modelItem => item.resultat)
                </td>
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || ViewBag.idTypeInsc == 1)
{
                <td>
                    @Html.DisplayFor(modelItem => item.p_StatutCours.Statut)
                </td>
}
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
{
                <td>
                    @Html.ActionLink(Messages.Modifier, "Edit", "CoursSuivi", new { coursReussi = item.id_CoursReussi, personne = item.id_Pers }, null) | 
                    @Html.ActionLink(Messages.Supprimer, "Delete", "CoursSuivi", new { coursReussi = item.id_CoursReussi, personne = item.id_Pers }, null)
                </td>
}
            </tr>
        }
        @if (!Model.Any())
        {
            <tr>
                <td colspan="6">@Messages.AucunCoursSansRecherche</td>
            </tr>
        }
    </table>
</div>
