@using sachem.Methodes_Communes
@using sachem.Models
@model IEnumerable<Inscription>

    <div>
        <h4>@Messages.DossierEtudiantDemandeInscription</h4>
        <table class="table">
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateInscription)
                </th>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.p_TypeInscription.TypeInscription)
                </th>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.p_StatutInscription.Statut)
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateInscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.p_TypeInscription.TypeInscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.p_StatutInscription.Statut)
                    </td>
                    <td>
                        @Html.ActionLink(Messages.Consulter, null, null, null)

                        @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant)
                        {

                            <span> | </span>@Html.ActionLink(Messages.Modifier, null, null, null)

                        }
                        @if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant && SachemIdentite.ObtenirTypeInscription(Session) == TypeInscription.EleveAide)
                        {

                            <span> | </span>@Html.ActionLink(Messages.ModifierInfosPerso, null, null, null)

                        }
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="6">@Messages.AucunDemandeInscriptionSansRecherche</td>
                </tr>
            }
        </table>
    </div>
