@model IEnumerable<sachem.Models.Inscription>

    <hr />
    <div>
        <h4>Demande d'inscription au Sachem</h4>
        <table class="table">
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateInscription)
                </th>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.p_TypeInscription.TypeInscription)
                </th>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.p_StatutInscription.Statut)
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateInscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.p_TypeInscription.TypeInscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.p_StatutInscription.Statut)
                    </td>
                    <td>
                        @Html.ActionLink("Consulter", null, null, null) @*Sprint4*@

                        @if (sachem.Models.SachemIdentite.ObtenirTypeUsager(Session) == sachem.Models.TypeUsagers.Eleve || sachem.Models.SachemIdentite.ObtenirTypeUsager(Session) == sachem.Models.TypeUsagers.Tuteur)
                        {

                            <span> | </span>@Html.ActionLink("Modifier", null, null, null)@*Sprint3*@

                        }
                        @if (sachem.Models.SachemIdentite.ObtenirTypeUsager(Session) == sachem.Models.TypeUsagers.Eleve || ViewBag.idTypeInsc == 1)
                        {

                            <span> | </span>@Html.ActionLink("Modifier informations personnelles", null, null, null)@*Sprint3*@

                        }
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="6">Aucune demande d'inscription</td>
                </tr>
            }
        </table>
    </div>
