@model sachem.Models.Inscription

<hr />
<div>
    <h4>Demande d'inscription au Sachem</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p_TypeInscription.TypeInscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p_StatutInscription.Statut)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in IEnumerable<ViewBag.Insc>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cours.CodeNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.NomSession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_College)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.resultat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_StatutCours.Statut)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", "CoursSuivi", new { id = item.id_CoursReussi, id2 = item.id_Pers }, null)
                </td>
                <td>
                    @Html.ActionLink("Supprimer", "Delete", "CoursSuivi", new { id = item.id_CoursReussi, id2 = item.id_Pers }, null)
                </td>
            </tr>
        }
    </table>
</div>