@using sachem.Methodes_Communes
@using sachem.Models
<h4>@Messages.Recherche</h4>

<table class="table-condensed">
    <tr>
        <td>
            @Messages.Session :
        </td><td>
            @Html.DropDownList("Session", null, Messages.Toutes,new { @class = "form-search" })
        </td>
        
        <td>
            @Messages.TypeInscription :
        </td>
        
        <!--Si c'est tuteur-->
@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
{
        <td>
            @Html.DropDownList("Inscription", null, Messages.Tous, new { @class = "form-search", disabled="disabled" })   
        </td>
}
else
{
    <td>
        @Html.DropDownList("Inscription", null, Messages.Tous, new { @class = "form-search" })
    </td>
}
<!--Si c'est AUTRE que tuteur-->

@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Enseignant || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Responsable || SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Super)
{
         <td>
            @Messages.Superviseur :
        </td>
            <td>
                @Html.DropDownList("Superviseur", null, Messages.Tous, new { @class = "form-search" })
            </td>
}
    </tr>
    <tr>
        <td>
            @Messages.NoDa :
        </td><td>
            @Html.Editor("Matricule", new { htmlAttributes = new { @class = "form-control", maxlength = "7" } })
        </td>
        <td>
            @Messages.Prenom :
        </td><td>
            @Html.Editor("Prenom", new { htmlAttributes = new { @class = "form-control"} })
        </td>
        <td>
            @Messages.Nom :
        </td><td>
            @Html.Editor("Nom", new { htmlAttributes = new { @class = "form-control"} })
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="@Messages.Rechercher" class="btn btn-default" style="margin-top:5px;margin-bottom:10px;"/>
        </td>
    </tr>
</table>