@*@model sachem.Models.Inscription*@ 
@model Tuple<sachem.Models.Inscription, IEnumerable<sachem.Models.CoursSuivi>>

@{
    ViewBag.Title = "Details";
}

<h2>Dossier de l'étudiant</h2>

<div>
    <h4>Identification de l'étudiant</h4>
    <hr /> @*Pas comme exemple mais beau*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.Matricule7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.Matricule7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.NomPrenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.NomPrenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.DateNais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.DateNais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.Courriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.Courriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.BonEchange)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.Item1.BonEchange.Value)
            Acheté
        </dd>
    </dl>

    @Html.Partial("_CoursAnterieur", Model.Item2)


</div>