@using sachem.Methodes_Communes
@using sachem.Models
@model Tuple<Inscription, IEnumerable<CoursSuivi>, IEnumerable<Inscription>>

@{
    ViewBag.Title = BrowserSessionBag.Current.id_Pers == Model.Item1.id_Pers ? Messages.DossierEtudiantMon : Messages.DossierEtudiant;
}


<h2>@ViewBag.Title</h2>

<div id="succes" style="color:#468847;display:none;"></div>

<div>
    <h4>@Messages.DossierEtudiantIdentificationEtu</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Item1.Personne.id_Pers, new {id = "hidden-id-pers" })
        @Html.HiddenFor(model => model.Item1.id_Inscription, new { id = "hidden-id-insc" })
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.Matricule7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.Matricule7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.NomPrenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.NomPrenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.DateNais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Personne.DateNais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.Courriel)
        </dt>

        <dd>
            @if (BrowserSessionBag.Current.id_Pers == Model.Item1.id_Pers)
            {
                @Html.HiddenFor(model => model.Item1.Personne.id_Pers)
                @Html.EditorFor(model => model.Item1.Personne.Courriel, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control input-field-build",
                        id = "input-field-email",
                        required = "required",
                        maxlength = "256",
                        type = "email"
                    }
                })
                <button type="submit" class="btn btn-default btn-input-field-build" id = "btn-field-email">
                    <i class="material-icons small btn-input-field-build-icon" style="font-size: 20px;">build</i>
                </button>
                <div id="erreur-email" style="color: #b94a48; display: none;"></div>
            }
            else
            {
                @Html.DisplayFor(model => model.Item1.Personne.Courriel)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Personne.Telephone)
        </dt>

        <dd>
            @if (BrowserSessionBag.Current.id_Pers == Model.Item1.id_Pers)
            {

                if (string.IsNullOrEmpty(Model.Item1.Personne.Telephone))
                {
                    @Html.EditorFor(model => model.Item1.Personne.Telephone, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control input-field-build",
                            id = "input-field-tel",
                            required = "required",
                            placeholder = Messages.PlaceHolderTelephone,
                            minlength = "10",
                            maxlength = "14",
                            type = "tel",
                            Value = Model.Item1.Personne.Telephone
                        }
                    })
                }
                else
                {
                    @Html.EditorFor(model => model.Item1.Personne.Telephone, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control input-field-build",
                            id = "input-field-tel",
                            required = "required",
                            placeholder = Messages.PlaceHolderTelephone,
                            minlength = "10",
                            maxlength = "14",
                            type = "tel",
                            Value = $"{Convert.ToInt64(Model.Item1.Personne.Telephone):(###) ###-####}"
                        }
                    })
                    <button type="submit" class="btn btn-default btn-input-field-build" id = "btn-field-tel">
                        <i class="material-icons btn-input-field-build-icon" style="font-size: 20px;">build</i>
                    </button>
                    <div id="erreur-tel" style="color: #b94a48; display: none;"></div>
                }
            }
            else
            {
                if (!Model.Item1.Personne.Telephone.IsEmpty())
                {
                    @($"{Convert.ToInt64(Model.Item1.Personne.Telephone):(###) ###-####}")
                }
            }
        </dd>
    </dl>

@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant && SachemIdentite.ObtenirTypeInscription(Session) == TypeInscription.EleveAide)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.BonEchange)
        </dt>
    @if (BrowserSessionBag.Current.id_Pers == Model.Item1.id_Pers)
    {
        if (Model.Item1.BonEchange != null && Model.Item1.BonEchange.Value)
        {
            <dd>
                @Messages.DossierEtudiantBonAchatAchete
            </dd>
        }
        else
        {
            <dd>
                @Messages.DossierEtudiantBonAchatPasAchete
            </dd>
        }
    }
    else
    {
        <dd>
            @Html.CheckBoxFor(model => model.Item1.BonEchange.Value, new { id = "check-bon-echange" })
        </dd>
    }
    </dl>
}
@if (SachemIdentite.ObtenirTypeUsager(Session) != TypeUsager.Etudiant && SachemIdentite.ObtenirTypeInscription(Session) == TypeInscription.EleveAide)
{
    <div style="margin-top:10px;">@Html.ActionLink(Messages.RetourRecherche, "Index", "DossierEtudiant", null)</div>
}
    
    @Html.Partial("_CoursAnterieur", Model)
    @Html.Partial("_InscriptionSachem", Model.Item3)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-field-tel')
            .click(function () {
                var pers = document.getElementById("hidden-id-pers");
                var tel = document.getElementById("input-field-tel");
                var pattern10 = new RegExp(/^\d{10}$/);
                var pattern14 = new RegExp(/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/);
                if (pattern10.test(tel.value) || pattern14.test(tel.value)) {
                    $.ajax({
                        url: "/DossierEtudiant/ModifTel",
                        data: { "tel": tel.value, "pers": pers.value },
                        type: "POST",
                        success: function () {
                            $('#succes').show();
                            $('#succes').html("@Messages.DossierEtudiantTelephoneModifieSucces").text();
                            $('#erreur-tel').hide();
                        }
                    });
                } else {
                    $('#erreur-tel').show();
                    $('#erreur-tel').html("@Messages.DossierEtudiantTelephoneModifieErreur").text();
                    $('#succes').hide();
                }
            });
        $('#btn-field-email')
            .click(function () {
                var pers = document.getElementById("hidden-id-pers");
                var email = document.getElementById("input-field-email");
                var pattern = new
                    RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
                if (pattern.test(email.value)) {
                    $.ajax({
                        url: "/DossierEtudiant/ModifEmail",
                        data: { "email": email.value, "pers": pers.value },
                        type: "POST",
                        success: function () {
                            $('#succes').show();
                            $('#succes').html("@Messages.DossierEtudiantCourrielModifieSucces").text();
                            $('#erreur-email').hide();
                        }
                    });
                } else {
                    $('#erreur-email').show();
                    $('#erreur-email').html("@Messages.DossierEtudiantCourrielModifieErreur").text();
                    $('#succes').hide();
                }
            });
        $('#check-bon-echange')
            .click(function () {
                var insc = document.getElementById("hidden-id-insc");
                var bon = $(this).prop("checked");
                $.ajax({
                    url: "/DossierEtudiant/ModifBon",
                    data: { "bon": bon, "insc": insc.value },
                    type: "POST",
                    success: function () {
                        $("#succes").show();
                        if (bon === true)
                            $('#succes').html("@Messages.DossierEtudiantBonAchatAchete").text();
                        else
                            $('#succes').html("@Messages.DossierEtudiantBonAchatPasAchete").text();
                    }
                });
            });
    })
</script>