@model IEnumerable<sachem.Models.Inscription>
@{
    ViewBag.Title = "Dossier d'étudiant";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "DossierEtudiant", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.Partial("_RechercheEtudiantInscrit")
}


        <table class="table">
    <tr>
        <th class="col-sm-6">
            @Html.DisplayNameFor(model => model.First().Personne.NomPrenom)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.First().Personne.Matricule7)
        </th>
        <th class="col-sm-3">
            @Html.DisplayNameFor(model => model.First().p_TypeInscription.TypeInscription)
        </th>
        <th class="col-sm-2"></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.Matricule7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_TypeInscription.TypeInscription)
            </td>
            <td>
                @Html.ActionLink("Consulter dossier", "details", new { id = item.id_Inscription })
            </td>
        </tr>
    }



    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">Aucun dossier d'étudiant ne répond à ces critères</td>
        </tr>
    }
</table>
@Html.Partial("_PageRecherche", Model)