@using sachem.Models
@model PagedList.IPagedList<p_College>
@{
    ViewBag.Title = Messages.CollegeTitre;
}
<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<p class="text-success">
    @TempData["Success"]
</p>
<p class="text-danger">
    @TempData["Erreur"]
</p>

<script type="text/javascript">
    function ModifModal(id) {
        var modal = document.getElementById("modalModification");
        var nom = document.getElementById("nomActuelCollege_"+id).innerText;
        document.getElementById("txtNomCollegeModif").value = nom;
        var boutonModif = document.getElementById("btnModifier");
        modal.style.display = "block";
        boutonModif.onclick = function() {
            var nomCollege = document.getElementById("txtNomCollegeModif").value;
            if(nomCollege!==""){
                Modifier(id, nomCollege);
            }
        }
    }

    function SuppressionModal(id) {
        var modal = document.getElementById("modalSuppression");
        var boutonSuppression = document.getElementById("btnSuppression");
        modal.style.display = "block";
        boutonSuppression.onclick = function() {
            Suppression(id);
        }
    }

    function AjoutModal(){
        var modal = document.getElementById("modalAjout");
        var boutonAjout = document.getElementById("btnAjout");
        modal.style.display = "block";
        boutonAjout.onclick = function () {
            var nomCollege = document.getElementById("txtNomCollegeAjout").value;
            if(nomCollege!=="") {
                Ajout(nomCollege);
            }
        }
    }

    function Suppression(id) {
        $.ajax({
            url: "/Parametres/DeleteCollege",
            data: { "id": id },
            type: "POST",
            success: function() {
                location.reload(true);
            }
        });
    }

    function Modifier(id, nouveauNomCollege) {
        $.ajax({
            url: "/Parametres/ModifCollege",
            data: { "nomCollege": nouveauNomCollege, "id": id },
            type: "POST",
            success: function(){
                location.reload(true);
            }
        });
    }

    function Ajout(nomCollege) {
        $.ajax({
            url: "/Parametres/AddCollege",
            data: { "nomCollege" : nomCollege},
            type: "POST",
            success: function () {
                location.reload(true);
            },
            error: function(){
                location.reload(true);
            }
        });
    }
</script>


<table class="table-condensed">
    @using (Html.BeginForm("EditCollege", "Parametres", FormMethod.Get, new { @class = "form-inline", role = "form" }))
    {
        <tr>
            <td>Nom de collège :</td>
            <td>@Html.Editor("Recherche", new { htmlAttributes = new { @class = "form-control" } })</td>
            <td><input type="submit" value="Rechercher" class="form-search"/></td>
        </tr>
    }
</table>
<a onclick="AjoutModal()" href="#" data-toggle="modal" data-target="#modalAjout" class="btn btn-default" style="margin-top:5px;margin-bottom:15px;">@Messages.CollegeAjouter</a>

    <table class="table">
        <tr>
            <th class="col-sm-10">
                @Html.DisplayNameFor(model => model.First().id_College)
            </th>
        <th class="col-sm-2"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td id = "nomActuelCollege_@item.id_College">
                    @Html.DisplayFor(modelItem => item.College )
                </td>
                <td>
                    <a onclick="ModifModal(@item.id_College);" href="#" data-toggle="modal" data-target="#modalModification">@Messages.Modifier</a>
                    |
                    <a onclick="SuppressionModal(@item.id_College);" href="#" data-toggle="modal" data-target="#modalSuppression">@Messages.Supprimer</a>
                </td>    
             </tr>
        }

    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">@Messages.AucunCollege</td>
        </tr>
    }
    </table>

<div class="container">
    <div class="modal fade" id="modalModification" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Messages.CollegeModifier</h4>
                </div>
                <div class="modal-body">
                    <p>@Messages.CollegeNouveauNom</p> <input type="text" id="txtNomCollegeModif" class="form-control" /><br />
                </div>
                <div class="modal-footer">
                    <button id="btnModifier" type="button" data-dismiss="modal" class="btn btn-primary">@Messages.Modifier</button>
                    <button type="button" data-dismiss="modal" class="btn">@Messages.Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="modalSuppression" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Messages.CollegeSupprimer</h4>
                </div>
                <div class="modal-body">
                    <p>@Messages.CollegeSupprimerConfirmation</p>
                </div>
                <div class="modal-footer">
                    <button id="btnSuppression" type="button" data-dismiss="modal" class="btn btn-primary">@Messages.Supprimer</button>
                    <button type="button" data-dismiss="modal" class="btn">@Messages.Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="modalAjout" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Messages.CollegeAjouter</h4>
                </div>
                <div class="modal-body">
                    <p>@Messages.CollegeAjouterNom</p> <input type="text" id="txtNomCollegeAjout" class="form-control" /><br />
                </div>
                <div class="modal-footer">
                    <button id="btnAjout" type="button" data-dismiss="modal" class="btn btn-primary">@Messages.Ajouter</button>
                    <button type="button" data-dismiss="modal" class="btn">@Messages.Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_PageRecherche", Model)
