@using PagedList.Mvc;
@model PagedList.IPagedList<sachem.Models.p_College>
@{
    ViewBag.Title = "Collèges d'enseignement";
    
}
<h2>Collège d'enseignement</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-success">
    @Html.ViewBag.Success
    @TempData["Success"]
</p>

@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function Modifier(id) {
        var nouveauNomCollege = document.getElementById("NomCollege").value;
        $.ajax({
            url: "/Parametres/EditCollege",
            data: { "nomCollege": nouveauNomCollege ,"id": id},
            type: "POST"
    });
    }
</script>
@using (Ajax.BeginForm("AddCollege", "Parametres", new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "window.location.reload()",
    Confirm = "Voulez-vous vraiment ajouter ce collège ?"
}))
{
    <div class="form-group">
        <p>
            <div class="form-group">
                Collège : @Html.TextBox("NomCollege")
                <input type="submit" value="Enregistrer" class="btn-toolbar"/>
            </div>
        </p>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().id_College)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.College)
                </td>
                <td>
                @Html.ActionLink("Modifier", "EditCollege", null, new { onclick = "Modifier(" + item.id_College + ");" })

                |

                    @Ajax.ActionLink("Supprimer", "DeleteCollege", new { id = item.id_College }, new AjaxOptions
               {
                   Confirm = @sachem.Models.Messages.Q_015(item.College),
                   HttpMethod = "Post",
                   OnSuccess = "window.location.reload()",
                   InsertionMode = InsertionMode.Replace
               })
            </tr>
        }
    </table>
}
@* Ajout de la fonction PagedList modifier.*@
@if (Model.PageCount > 0)
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
        <div>
            @Html.PagedListPager(Model, page => Url.Action("EditCollege", new { page }))
        </div>
    </div>
}