@model sachem.Models.Courriel
@using System.Web.Mvc.Html
@using sachem.Models
@{
    ViewBag.Title = Messages.CourrielTitre;
}
@Scripts.Render("~/bundles/tinymce")
<h2>@ViewBag.Title</h2>
@*Merci à Rion Williams et au site http://rion.io/2014/09/30/integrating-tinymce-into-an-mvc-5-project/ pour le code sur TinyMCE*@
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,
        height : 360
    });
</script>
    @using (Html.BeginForm("EditCourrier", "Parametres", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ViewBag.Success
        <p class="text-success">
            @TempData["Success"]
        </p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12 row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.p_TypeCourriel.TypeCourriel, new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.DropDownList("id_TypeCourriel", null, null, new { @class = "form-search", id = "ddlTypeCourriel" })
                        @Html.ValidationMessageFor(model => model.id_TypeCourriel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateDebut, new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DateDebut, new { htmlAttributes = new { @class = "form-control", placeholer = "AAAA/MM/JJ", title = Messages.FormatEnDate } })
                        @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateFin, new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control", placeholer = "AAAA/MM/JJ", title = Messages.FormatEnDate } })
                        @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Titre, new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-groug">
                        <h4>@Messages.CourrielVarsPourPersonnaliser</h4>
                        <p><b>$PrenomNomEtudiant</b>: @Messages.CourrielVarPrenomNom</p>
                        @if (Model.id_TypeCourriel == 2)
                        {
                            <p><b>$NouveauMotDePasse</b>: @Messages.CourrielVarNouveauPasse</p>
                        }
                    
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(model => model.Courriel1, new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Courriel1, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.Courriel1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enregistrer" class="btn btn-default" />
                    @Html.ActionLink("Annuler", "Index", "DossierEtudiant", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>

    }
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlTypeCourriel").change(function () {
            var id = $(this).val();
            window.location.href = "/Parametres/EditCourrier?courriel=" + id;
            console.log("text");
        });
    });
</script>
