@using System.Activities.Expressions
@using System.Net.Mime
@model IEnumerable<sachem.Models.p_College>
@{
    ViewBag.Title = "IndexCollege";
    
}
<h2>Collège d'enseignement</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-success">
    @Html.ViewBag.Success
    @TempData["Success"]
</p>

@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#edit').attr('href', function () {
            return this.href.replace('__NomCollege__', $('#NomCollege').val());
        });
    });
</script>
@using (Ajax.BeginForm("AddCollege", "Parametres", new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "window.location.reload()",
    Confirm = "Voulez-vous vraiment ajouter ce collège ?"
}))
{
    <br />
    <div class="form-group">
        <div class="form-group">
           Collège : @Html.TextBox("NomCollege", null, new { @class = "form-control" , @size = 50}) <input type="submit" value="Enregistrer" class="btn-toolbar" />
        </div>
    </div>
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_College)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.College)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.College)
                </td>
                <td>
                @Ajax.ActionLink("Modifier", "EditCollege",null , new {nomCollege = "__NomCollege__", id = item.id_College}, new AjaxOptions
           {
               Confirm = @sachem.Models.Messages.Q_014(),
               HttpMethod = "Post",
               OnSuccess = "window.location.reload()",
               InsertionMode = InsertionMode.Replace
           },
           new {id ="edit"})

                |

                    @Ajax.ActionLink("Supprimer", "DeleteCollege", new { id = item.id_College}, new AjaxOptions
                    {
                        Confirm = @sachem.Models.Messages.Q_015(item.College),
                        HttpMethod = "Post",
                        OnSuccess = "window.location.reload()",
                        InsertionMode = InsertionMode.Replace
                    })
            </tr>
        }
    </table>
}