@model IEnumerable<sachem.Models.EtuProgEtude>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomProg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomProg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_ProgEtu }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_ProgEtu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_ProgEtu })
        </td>
    </tr>*@
}

</table>
