@using sachem.Models
<script type="text/javascript">
    $(document).ready(function () {
        $("#SelectSession").change(function () {
            var vSession = $('#SelectSession').val();

            $.ajax({
                type: 'POST',
                url:
                    @Html.Raw("\"/" + HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] + "/ActualiseCoursddl\""),
                data: {
                    session: vSession
                },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectCours").empty();
                    $('#SelectCours').append($('<option>', {
                        value: 0,
                        text: '@Messages.Tous'
                    }));

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: '@Messages.Tous'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectCours').append($('<option>', {
                            value: item.id_Cours,
                            text: item.CodeNom

                        }));
                    });

                }
            });

            var vCours = $('#SelectCours').val();

            $.ajax({
                type: 'POST',
                url: "/Etudiant/ActualiseGroupeddl",
                data: {
                    session : vSession,
                    cours: vCours },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: '@Messages.Tous'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectGroupe').append($('<option>', {
                            value: item.id_Groupe,
                            text: item.NoGroupe

                        }));
                    });

                }
            });
        });

        $("#SelectCours").change(function () {
            var vSession = $('#SelectSession').val();
            var vCours = $('#SelectCours').val();

            $.ajax({
                type: 'POST',
                url: "/Etudiant/ActualiseGroupeddl",
                data: {
                    session : vSession,
                    cours: vCours },

                async: false,
                cache: false,
                dataType: "json",
                success: function (donnees) {

                    $("#SelectGroupe").empty();
                    $('#SelectGroupe').append($('<option>', {
                        value: 0,
                        text: 'Tous'
                    }));

                    $.each(donnees, function (i, item) {
                        $('#SelectGroupe').append($('<option>', {
                            value: item.id_Groupe,
                            text: item.NoGroupe

                        }));
                    });
                }
            });
        });
    });
</script>

    <h4>@Messages.Recherche</h4>


    <div class="recherche">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-3 recherche-label">
                    @Messages.Session
                </div>
                <div class="col-md-9 recherche-field">
                    @Html.DropDownList("SelectSession", null, Messages.Toutes, new { @class = "form-control", id = "SelectSession" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-2 recherche-label">
                    @Messages.Cours
                </div>
                <div class="col-md-10 recherche-field">
                    @Html.DropDownList("SelectCours", null, Messages.Tous, new { @class = "form-control col-md-12", id = "SelectCours" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-2 recherche-label">
                    @Messages.Groupe
                </div>
                <div class="col-md-10 recherche-field">
                    @Html.DropDownList("SelectGroupe", null, Messages.Tous, new { @class = "form-control", id = "SelectGroupe" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-3 recherche-label">
                    @Messages.NoDa
                </div>
                <div class="col-md-9 recherche-field" style="padding-right: 20px;">
                    @Html.Editor("Matricule", new { htmlAttributes = new { @class = "form-control", maxlength = "7" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-default" style="margin-bottom: 10px;">
                    <i class="material-icons">search</i>@Messages.Rechercher
                </button>
            </div>
        </div>
    </div>
