@model sachem.Models.EtuProgEtude
@using sachem.Models
@{
    ViewBag.Title = "Ajouter étudiant";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.Partial("_Etudiant")
        <div class="form-group">
            @Html.LabelFor(model => model.Personne.Matricule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Personne.Matricule, new { htmlAttributes = new { @class = "form-control",  @maxlength = "7" } })
                @Html.ValidationMessageFor(model => model.Personne.Matricule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Personne.MP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Personne.MP, new { @class = "form-control", placeholder = "Mot de passe" })
                @Html.ValidationMessageFor(model => model.Personne.MP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Personne.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Personne.ConfirmPassword, new { @class = "form-control", placeholder = "Mot de passe" })
                @Html.ValidationMessageFor(model => model.Personne.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Personne.EtuProgEtude, "Programme d'étude", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Programme", null, "Choisir", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Personne.EtuProgEtude, "Session", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Session", null, "", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la recherche des étudiants", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
