@using sachem.Models
@model PersonneEtuProgParent

@{
    ViewBag.Title = Messages.EtudiantAjouterTitre;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Etudiant", FormMethod.Post))
{
    <p class="text-danger">
        @Html.Raw(TempData["Echec"])
    </p>

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.personne.Matricule7, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personne.Matricule7, new { htmlAttributes = new { @class = "form-control", required = "required", minlength = 7, maxlength = 7, title = Messages.LongueurDeSeptCaracteres } })
                @Html.ValidationMessageFor(model => model.personne.Matricule7, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_Etudiant")

        <div class="form-group">
            @Html.Label(Messages.ProgrammeEtude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_ProgEtu", null, Messages.VeuillezChoisir, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Messages.Session, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Session", null, Messages.VeuillezChoisir, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Messages.Ajouter" class="btn btn-default" />
                @Html.ActionLink(Messages.Annuler, "Index", null, null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
