@model sachem.Models.Personne

@{
    ViewBag.Title = "Création";
}

<h2>Ajouter étudiant</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.Partial("_Etudiant")
        <div class="form-group">
            @Html.LabelFor(model => model.Matricule7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matricule7, new { htmlAttributes = new { @class = "form-control",  @maxlength = "7" } })
                @Html.ValidationMessageFor(model => model.Matricule7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.MP, new { @class = "form-control", placeholder = "Mot de passe" })
                @Html.ValidationMessageFor(model => model.MP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Mot de passe" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la recherche des étudiants", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
