@model sachem.Models.PersonneEtuProgParent

@{
    ViewBag.Title = "Modifier étudiant";
}

@Html.Partial("_DeleteProgEtu")
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Etudiant", FormMethod.Post))
{
    <p class="text-success">
        @Html.Raw(@TempData["Success"])
    </p>

    <p class="text-danger">
        @Html.Raw(@TempData["Echec"])
    </p>

    if ((string)TempData["Question"] != null)
    {
        @TempData["Question"]
        <br />
        <tr>
            <td>
                @Html.ActionLink("Oui", "deleteProgEtu", new { idProg = TempData["id_Prog"], idPers = TempData["id_Pers"], Valider = 1 }) |
                @Html.ActionLink("Non", "deleteProgEtu", new { idProg = TempData["id_Prog"], idPers = TempData["id_Pers"], Valider = 2 })
            </td>
        </tr>
    }
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.Partial("_Etudiant")
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(model => model.personne.id_Pers)
        <div class="form-group">
            @Html.LabelFor(model => model.personne.Matricule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.personne.Matricule7, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.personne.Matricule, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personne.MP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.personne.MP, new { @class = "form-control", placeholder = "Mot de passe", @Value = String.Empty, @minlength = "6", @title = "Longueur minimale de 6 charactère." })
                @Html.ValidationMessageFor(model => model.personne.MP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.personne.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.personne.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmation du mot de passe", @Value = "", @minlength = "6", @title = "Longueur minimale de 6 charactère." })
                @Html.ValidationMessageFor(model => model.personne.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personne.Actif, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.personne.Actif)
                    @Html.ValidationMessageFor(model => model.personne.Actif, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Programme d'étude", htmlAttributes: new { @class = "control-label col-md-2" })
            <div style="margin-top:7px;">
                <div style="margin-left:210px;">
                    <table id="progetuTable">
                        @foreach (var item in Model.epe)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ProgrammeEtude.CodeNomProgramme)</td>
                                <td><button id="@item.id_EtuProgEtude" type="button" class="btn btn-info btn-sm" data-toggle="modal" name="SuppProg" data-target="#myModal">Supprimer</button></td>
                            </tr>
                            <div class="container">
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Suppression Programme d'étude</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>@sachem.Models.Messages.Q_002(item.ProgrammeEtude.NomProg)</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="btnDeleteEtuProg" type="button" data-dismiss="modal" class="btn btn-primary">Supprimer</button>
                                                <button type="button" data-dismiss="modal" class="btn">Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </table>
                    </div>
                </div>
        </div>
        <br><br />
        <h4>Ajouter un programme d'étude</h4>
        <hr>
        <div class="form-group">
            @Html.Label("Programme d'étude", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Programme", null, "Choisir", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Session", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_Session", null, "Choisir", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 ">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
                @Html.ActionLink("Retour à la recherche", "Index", null, null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<span id="IDPE" hidden style="visibility: hidden;font-size:0px;">0</span>