@using sachem.Models
@model IEnumerable<sachem.Models.Personne>

@{
    ViewBag.Title = "Index";
}

<h2>Étudiant</h2>
<h4>Recherche</h4>
<table class="Recherche">
    <tr>
        <th>
            @Html.DisplayName("Matricule:")
        </th>
        <th width = "4%">
            <input type="text" name="Matricule" size ="20">
        </th>
        <th>
            @Html.DisplayName("ou")
        </th>
        <th>
            @Html.DisplayName("Session :")
        @*@­<select>
            <option value="a"></option>
            <option value="b"></option>
            <option value="c"></option>
        </select>*@
            @Html.DropDownList("Session", "Toutes")
            @*@Html.DropDownList("Session", ViewBag.SessionList as SelectList)*@
            @*@Html.DropDownList("ListeCours", null, htmlAttributes:new {@class="form-control"})*@
        </th>
        <th>
            
           @Html.DisplayName("Cours: ")
        @*@Html.DropDownList("Cours", ViewBag.SessionList as SelectList)*@
        @Html.DropDownList("Cours", "Choisir")
        </th>
        <th>
            @Html.DisplayName("Groupe: ")
            @Html.DropDownList("Groupe")
            <button type="Rechercher">
                Rechercher
            </button>
        </th>
    </tr>
    
    <p>
        @Html.ActionLink("Ajouter un étudiant", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nom")
            </th>
            <th>
                @Html.DisplayName("Matricule")
            </th>
            <th>
                @Html.DisplayName("Sexe")
            </th>
            <th>
                @Html.DisplayName("Date de naissance")
            </th>
            <th>
                @Html.DisplayName("Programme d'études")
            </th>

            <th></th>
        </tr>
        <BR>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricule7)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.p_Sexe.Sexe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNais,"{0:dd/MM/yyyy}")
                
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.DateNais)*@
                    @foreach (Personne personne in @Model)
                    {
                       @Html.DisplayFor(modelItem => item.Matricule7)
                    }
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.id_Pers }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_Pers }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.id_Pers })
                </td>
            </tr>
        }

    </table>
