@using sachem.Models
@model PagedList.IPagedList<PersonneProgEtu>

@{
    ViewBag.Title = Messages.Etudiants;
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<p class="text-success">
    @Html.Raw(TempData["Success"])
</p>

<p class="text-danger">
    @Html.Raw(TempData["Echec"])
</p>

@using (Html.BeginForm("Index", "Etudiant", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.Partial("_RechercheEtudiant")
}
<div style="margin-top: 5px; margin-bottom: 10px;">
    @*@Html.ActionLink(Messages.EtudiantAjouterTitre, "Create", null, null, new {@class = "btn btn-default"})*@
    <a class="btn btn-default" href="@Url.Action("Create")"><i class="material-icons">add</i>@Messages.EtudiantAjouterTitre</a>
</div>
    <table class="table">
        <tr>
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.First().personne.NomPrenom)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.First().personne.Matricule7)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.First().personne.p_Sexe.Sexe)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.First().personne.DateNais)
            </th>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.First().personne.ProgEtu)
            </th>
            <th class="col-sm-1"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.personne.NomPrenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personne.Matricule7)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.personne.p_Sexe.Sexe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personne.DateNais)
                
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.progEtuActif.NomProg)
                </td>
                <td class="text-center">
                    @*@Html.ActionLink(Messages.Modifier, "Edit", new { id = item.personne.id_Pers }) |
                    @Html.ActionLink(Messages.Supprimer, "Delete", new { id = item.personne.id_Pers })*@
                    <a href="@Url.Action("Edit", null,new {id = item.personne.id_Pers})"><i class="material-icons">edit</i></a>
                    <a href="@Url.Action("Delete", null,new {id = item.personne.id_Pers})"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }

        @if (!Model.Any())
        {
            <tr>
                <td colspan="6">@Messages.AucunEtudiant</td>
            </tr>
        }

    </table>
@Html.Partial("_PageRecherche", Model)