@using sachem.Models
@model CoursSuivi

@Html.HiddenFor(model => model.id_Pers)
<div class="form-group">
    @Html.LabelFor(model => model.id_Cours, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.DropDownList("id_Cours", null, Messages.VeuillezChoisir, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.id_Cours, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.autre_Cours, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.autre_Cours, new { htmlAttributes = new { @class = "form-control", maxlength = 100 } })
        @Html.ValidationMessageFor(model => model.autre_Cours, "", new { @class = "text-danger" })
    </div>
</div>

@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Tuteur)
{
    <div class="form-group">
        @Html.LabelFor(model => model.id_College, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("id_College", null, Messages.VeuillezChoisir, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_College, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.autre_College, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.autre_College, new { htmlAttributes = new { @class = "form-control", maxlength = 250 } })
            @Html.ValidationMessageFor(model => model.autre_College, "", new { @class = "text-danger" })
        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(model => model.id_Sess, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("id_Sess" , null, Messages.VeuillezChoisir, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.id_Sess, "", new { @class = "text-danger" })
    </div>
</div>

@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve)
{
<div class="form-group">
    @Html.LabelFor(model => model.id_Statut, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
            @Html.DropDownList("id_Statut", null, Messages.VeuillezChoisir, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_Statut, "", new { @class = "text-danger" })
    </div>
</div>
}

<div class="form-group">
    @Html.LabelFor(model => model.resultat, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @(ViewBag.Resultat == "Edit" ? Html.TextBoxFor(model => model.resultat, new {@class = "form-control"}) : Html.EditorFor(model => model.resultat, new {htmlAttributes = new {@class = "form-control"}}))
        @Html.ValidationMessageFor(model => model.resultat, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="@Messages.Enregistrer" class="btn btn-default new { id = ViewBag.idPers }" />
        @Html.ActionLink(Messages.Annuler, "Details", "DossierEtudiant", new { id = SessionBag.Current.id_Inscription }, new { @class = "btn btn-default" })
    </div>
</div>
