@model sachem.Models.CoursSuivi

@{
    ViewBag.Title = "Ajouter un cours suivi antérieur";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_CoursSuivi", Model)
    </div>
}

@Html.Partial("_Footer", Model)