@using sachem.Methodes_Communes
@using sachem.Models
@model CoursSuivi

@{
    ViewBag.Title = Messages.CoursSuiviSupprimerTitre;
}

<h2>@ViewBag.Title</h2>

@if (string.IsNullOrEmpty(Model.autre_Cours))
{
    <h4>@Messages.CoursSupprimerQuestionSupprimerCours(Model.Cours.CodeNom)</h4>
}
else
{
    <h4>@Messages.CoursSupprimerQuestionSupprimerCours(Model.autre_Cours)</h4>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_Cours)
        </dt>
        <dd>
            @(string.IsNullOrEmpty(Model.autre_Cours) ? Html.DisplayFor(modelItem => Model.Cours.CodeNom) : Html.DisplayFor(modelItem => Model.autre_Cours))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_Sess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.NomSession)
        </dd>

@if (SachemIdentite.ObtenirTypeUsager(Session) == TypeUsagers.Eleve)
{
        <dt>
            @Html.DisplayNameFor(model => model.id_Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_StatutCours.Statut)
        </dd>
}

        <dt>
            @Html.DisplayNameFor(model => model.resultat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultat)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">            
            @Html.HiddenFor(m => m.id_CoursReussi)
            <input type="submit" value="@Messages.Supprimer" class="btn btn-default" />
            @Html.ActionLink(Messages.Annuler, "Details", "DossierEtudiant", new { id = SessionBag.Current.id_Inscription }, new { @class = "btn btn-default" })
        </div>
    }
</div>
