@model sachem.Models.CoursSuivi
@using sachem.Models

@{
    ViewBag.Title = "Supprimer un cours de mathématiques antérieur";
}

<h2>@ViewBag.Title</h2>

@if (Model.autre_Cours == string.Empty || Model.autre_Cours == null)
{
    <h4>@sachem.Models.Messages.Q_013(Model.Cours.CodeNom)</h4>
}
else
{
    <h4>@sachem.Models.Messages.Q_013(Model.autre_Cours)</h4>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_Cours)
        </dt>
        <dd>
            @if (Model.autre_Cours == string.Empty || Model.autre_Cours == null)
            {
                @Html.DisplayFor(modelItem => Model.Cours.CodeNom)
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.autre_Cours)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_Sess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.NomSession)
        </dd>

@if (sachem.Models.SachemIdentite.ObtenirTypeUsager(Session) == sachem.Models.TypeUsagers.Eleve)
{
        <dt>
            @Html.DisplayNameFor(model => model.id_Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_StatutCours.Statut)
        </dd>
}

        <dt>
            @Html.DisplayNameFor(model => model.resultat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultat)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            @Html.HiddenFor(m => m.id_CoursReussi)
            @Html.ActionLink("Annuler", "Details", "DossierEtudiant", new { id = SessionBag.Current.id_Inscription }, new { @class = "btn btn-default" })
            @Html.Partial("_Footer", Model)
        </div>
    }
</div>
