@model IEnumerable<sachem.Models.CoursSuivi>

@{
    ViewBag.Title = "Index";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_Sess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_College)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Cours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resultat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autre_Cours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autre_College)
        </th>
        <th></th>
    </tr>

@foreach ("Index", "Etudiant", FormMethod.Post, new { @class = "Recherche", role = "form" }))


#line default
#line hidden

#line 5 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
       __o = Html.DisplayName("Session");


#line default
#line hidden

#line 6 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
__o = Html.DisplayName("Type d'inscription");


#line default
#line hidden

#line 7 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
__o = Html.DisplayName("Superviseur");


#line default
#line hidden

#line 8 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
__o = Html.DisplayName("Matricule");


#line default
#line hidden

#line 9 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
__o = Html.DisplayName("Nom");


#line default
#line hidden

#line 10 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
__o = Html.DisplayName("Prénom");
r

#line default
#line hidden

#line 11 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
    foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_Sess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_College)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_Cours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resultat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autre_Cours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autre_College)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.id_CoursReussi}) |
            @Html.ActionLink("Details", "Details", new {id = item.id_CoursReussi}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.id_CoursReussi})
        </td>
    </tr>    
    }

#line default
#line hidden

#line 23 "Z:\sachem-09-08\sachem\Views\CoursSuivi\Index.cshtml"
        

</table>
