@using sachem.Models
@model Personne
@{
    ViewBag.Title = "Mot de passe oublié";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">
    @Html.ViewBag.Success
</p>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
    <p>Veuiller entrer le courriel rattaché à votre compte.</p>
    <p>Nous vous enverrons un courriel contenant les renseignements sur votre mot de passe.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Courriel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Courriel, new {@class = "form-control", @maxlength = "256", @required = "required", @title = Messages.ChampRequis })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Valider" />
            @Html.ActionLink("Annuler", "Login", null, null, new { @class = "btn btn-default" })
        </div>
    </div>
}
