@model sachem.Models.Personne
@using sachem.Models
@{
    ViewBag.Title = "Modifier le mot de passe";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">
    @Html.ViewBag.Success
</p>

@using (Html.BeginForm("ModifierPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Utilisez le formulaire ci-dessous pour changer votre mot de passe.</p>
    <h4>Informations de compte</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.AncienMotDePasse, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AncienMotDePasse, new { @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(model => model.AncienMotDePasse, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MP, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MP, new { @class = "form-control", @type = "password", @minlength = "6"})
            @Html.ValidationMessageFor(model => model.MP, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password"})
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" style="width:100%;"value="Modifier le mot de passe" name="Modifier" />
        </div>
    </div>
    if (sachem.Models.SachemIdentite.ObtenirTypeUsager(Session) == sachem.Models.TypeUsagers.Eleve)
    {
        @Html.ActionLink("Retourner à mon dossier", "Details", "DossierEtudiant", new { id = SessionBag.Current.id_Inscription }, null)
    }
    else
    {
        @Html.ActionLink("Retourner à la recherche de dossier d'étudiants", "Index", "DossierEtudiant")
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
