@using sachem.Methodes_Communes
@using sachem.Models
@model Personne
@{
    ViewBag.Title = Messages.ModifierMotPasse;
}

<h2>@ViewBag.Title</h2>
<p class="text-success">
    @Html.ViewBag.Success
</p>

@using (Html.BeginForm("ModifierPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>@Messages.AccountPasswordUtiliserFormulaire</p>
    <h4>@Messages.InfosCompte</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.AncienMotDePasse, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AncienMotDePasse, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(model => model.AncienMotDePasse, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MP, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MP, new { @class = "form-control", type = "password", minlength = "6"})
            @Html.ValidationMessageFor(model => model.MP, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password"})
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" style="width:100%;"value="@Messages.ModifierMotPasse" />
        </div>
    </div>
    @(SachemIdentite.ObtenirTypeUsager(Session) == TypeUsager.Etudiant && SachemIdentite.ObtenirTypeInscription(Session) == TypeInscription.EleveAide ? Html.ActionLink(Messages.RetourMonDossierEtudiant, "Details", "DossierEtudiant", new {id = BrowserSessionBag.Current.id_Inscription}, null) : Html.ActionLink(Messages.RetourRecherche, "Index", "DossierEtudiant"))
}
