@model sachem.Models.ProgrammeEtude

@{
    ViewBag.Title = "Créer un programme d'études";
}

<h2>Ajouter un programme d'étude</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "ProgrammesOfferts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_ProgrammesOfferts")

    </div>
}

@Html.Partial("_Footer")
