@using sachem.Models
@model ProgrammeEtude
@{
    ViewBag.Title = Messages.ProgrammesSupprimerTitre;
}

<h2>@ViewBag.Title</h2>

<h3>@Messages.ProgrammeSupprimerQuestion(Model.NomProg)</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomProg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomProg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "ProgrammesOfferts", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-actions no-color">
            <input type="submit" value="@Messages.Supprimer" class="btn btn-default" />
            @Html.ActionLink(Messages.Annuler, "Index", null, null, new { @class = "btn btn-default" })
        </div>
    }
</div>
