@model sachem.Models.ProgrammeEtude
@{
    ViewBag.Title = "Supprimer un programme d'études";
}

<h2>@ViewBag.Title</h2>

<h3>@sachem.Models.Messages.VraimentSupprimerProgrammeEtude(Model.NomProg)</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomProg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomProg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "ProgrammesOfferts", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
            @Html.ActionLink("Annuler", "Index", null, null, new { @class = "btn btn-default" })
        </div>
    }
</div>
