@model sachem.Models.ProgrammeEtude

@{
    ViewBag.Title = "Modifier un programme d'études";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit","ProgrammesOfferts",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_ProgEtu)

        @Html.Partial("_ProgrammesOfferts")

    </div>
}

@Html.Partial("_Footer")
