@using sachem.Models
@model PagedList.IPagedList <ProgrammeEtude> 

@{
    ViewBag.Title = Messages.ProgrammeEtude;
}

<h2>@ViewBag.Title</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-success">
    @Html.ViewBag.Success
    @TempData["Success"]
</p>
<p>
    @using (Html.BeginForm("Index", "ProgrammesOfferts", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <table class="table-condensed">
            <tr>
                <td>@Messages.ProgrammeCodeOuNom</td>
                <td>@Html.Editor("Recherche", new { htmlAttributes = new { @class = "form-control" } })</td>
                <td><input type="submit" value="@Messages.Rechercher" class="form-search" /></td>
            </tr>
        </table>
    }

<div style="margin-top:5px;margin-bottom:10px;">@Html.ActionLink(Messages.ProgrammesAjouterTitre, "Create", null, null, new { @class = "btn btn-default" })</div>
    
<table class="table">
    <tr>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.First().Code)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.First().Annee)
        </th>
        <th class="col-sm-7">
            @Html.DisplayNameFor(model => model.First().NomProg)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.First().Actif)
        </th>
        <th class="col-sm-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomProg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actif)
            </td>
            <td>
                @Html.ActionLink(Messages.Modifier, "Edit", new { id = item.id_ProgEtu }) |
                @Html.ActionLink(Messages.Supprimer, "Delete", new { id = item.id_ProgEtu })
            </td>
        </tr>
    }

    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">@Messages.AucunProgramme</td>
        </tr>
    }
</table>
@Html.Partial("_PageRecherche", Model)
