@model IEnumerable<sachem.Models.ProgrammeEtude>
@using PagedList    
@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Programmes d'étude";
    var pagedlist = (IPagedList)Model;

}

<h2>Index</h2>
  

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-success">
    @Html.ViewBag.Success
    @TempData["Success"]
</p>

<p>
    @Html.ActionLink("Ajouter un programme d'étude", "Create")
    @using (Html.BeginForm("Index", "ProgrammesOfferts", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <p>
            Trouver par code ou nom de programme @Html.TextBox("recherche")
            <input type="submit" value="Rechercher"/>
        </p>
        
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>   
            @Html.DisplayNameFor(model => model.NomProg)         
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annee) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomProg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actif)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new {  id=item.id_ProgEtu }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_ProgEtu})
        </td>
    </tr>
}

</table>
<br />
<small>@Html.PagedListPager(pagedlist, page => Url.Action("Index", new { page = page }))
Page @(pagedlist.PageCount < pagedlist.PageNumber ? 0 : pagedlist.PageNumber) de @pagedlist.PageCount</small>
<br />
<small>@pagedlist.FirstItemOnPage de @pagedlist.LastItemOnPage sur @pagedlist.TotalItemCount éléments</small>
