@using sachem.Models
@model PagedList.IPagedList <ProgrammeEtude> 

@{
    ViewBag.Title = Messages.ProgrammeEtude;
}

<h2>@ViewBag.Title</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-success">
    @Html.ViewBag.Success
    @TempData["Success"]
</p>
<h4>@Messages.Recherche</h4>
<p>
    @using (Html.BeginForm("Index", "ProgrammesOfferts", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="recherche">
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-6 recherche-label">@Messages.ProgrammeCodeOuNom</div>
                    <div class="col-md-6 recherche-field">@Html.Editor("Recherche", new { htmlAttributes = new { @class = "form-control" } })</div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default" style="margin-bottom: 10px;">
                        <i class="material-icons">search</i>@Messages.Rechercher
                    </button>
                </div>
            </div>
        </div>
    }

<div style="margin-top: 5px; margin-bottom: 10px;">
    <a class="btn btn-default" href="@Url.Action("Create")"><i class="material-icons">add</i>@Messages.ProgrammesAjouterTitre</a>
</div>
    
<table class="table">
    <tr>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.First().Code)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.First().Annee)
        </th>
        <th class="col-sm-8">
            @Html.DisplayNameFor(model => model.First().NomProg)
        </th>
        <th class="col-sm-1">
            @Html.DisplayNameFor(model => model.First().Actif)
        </th>
        <th class="col-sm-1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomProg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actif)
            </td>
            <td class="text-center">
                <a href="@Url.Action("Edit", null,new {id = item.id_ProgEtu})"><i class="material-icons">edit</i></a>
                <a href="@Url.Action("Delete", null,new {id = item.id_ProgEtu})"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    }

    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">@Messages.AucunProgramme</td>
        </tr>
    }
</table>
@Html.Partial("_PageRecherche", Model)
