@using sachem.Models
    <div class="row pageItemPadding">
    <div class="col-md-6"><h5 class="hIns">@Messages.InscriptionRencontresConsecutives</h5></div>
    <div class="col-md-6">
        <div style="float:right">
            <input id="Q3" name="Q3radio" type="radio" checked/>oui
            <input id="Q1" name="Q3radio" type="radio" style="margin-left:30px;" />non
        </div>
    </div>
</div>
<h3 style="background-color:aliceblue">@Messages.InformationsSpecifiques</h3>
<h5 id="erreur" style="color:red;"></h5>
<h5 class="hIns">@Messages.InscriptionCoursQueJaide</h5>
<div class="clearfix pageItemPadding">
    <div class="col-md-9">
        <div class="row ins-row">
            <div class="col-md-2">@Messages.PremierChoix</div>            
            <div class="col-md-6">@Html.DropDownList("lstCours", null, Messages.VeuillezChoisir, new { @class = "form-search ins-selectcours", name = "validecours" })</div>
            <div class="col-md-4"></div>
            </div>
        <div class="row ins-row">
            <div class="col-md-2">@Messages.DeuxiemeChoix</div>
            <div class="col-md-6">@Html.DropDownList("lstCours", null, Messages.VeuillezChoisir, new { @class = "form-search ins-selectcours", name = "validecours" })</div>
            <div class="col-md-4"></div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">@Messages.TroisiemeChoix</div>
            <div class="col-md-6">@Html.DropDownList("lstCours", null, Messages.VeuillezChoisir, new { @class = "form-search ins-selectcours", name = "validecours" })</div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<hr/>
<br />
<h5 class="hIns">@Messages.InscriptionCoursSuivis</h5>

@Html.Partial("_BoutonsNav")

<script type="text/javascript">
    $(document).ready(function () {
        var listeCoursInteresse = function ()
        {
            var aideCours = new Array();
            $(["validecours"]).each(function () {
                if (aideCours.indexOf($(this).val()) === -1) {
                    aideCours.push($(this).val());
                }
            });

            return aideCours;
        };
        var afficherErreur = function ()
        {
            $.ajax({
                url: "/Inscription/ErreurCours",
                type: "POST",
                success: function (retour) {
                    $("#erreur").html(retour);
                }
            });
        }
        var listeCoursReussis = function () {
            var infoCourCollegeNote = new Array();

            $(".InfoCourCollege").each(function (i) {
                infoCourCollegeNote.push([]);
                $($(this).find(".valLignecours")).each(function (j) {
                    infoCourCollegeNote[i][j] = $(this).val();
                });
            });

            return infoCourCollegeNote;
        }
        var activationInput = function ()
        {
            $(".btnSupprimerCours").click(function () {
                $(this).parent().parent().remove();
            });
            $(".InfoCourCollege").find($(".dropDownCours")).change(function () {
                if ($(this).val() !== "") {
                    $(this).closest(".InfoCourCollege").find($(".coursChange")).attr('disabled', 'disabled');
                    $(this).closest(".InfoCourCollege").find($(".coursChange")).val("");
                }
                else {
                    $(this).closest(".InfoCourCollege").find($(".coursChange")).removeAttr('disabled');
                }
            });
            $(".InfoCourCollege").find($(".dropDownCollege")).change(function () {
                if ($(this).val() !== "") {
                    $(this).closest(".InfoCourCollege").find($(".collegeChange")).attr('disabled', 'disabled');
                    $(this).closest(".InfoCourCollege").find($(".collegeChange")).val("");
                }
                else {
                    $(this).closest(".InfoCourCollege").find($(".collegeChange")).removeAttr('disabled');
                }
            });
        }

        var ajouterLigneCours = function () {
            $.ajax({
                url: "/Inscription/getLigneCours",
                type: "POST",
                success: function (donnees) {
                    $("#espaceCours").append(donnees);
                    activationInput();
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    $("#espaceCours").append(errorThrown);
                }
            });
        }

        ajouterLigneCours();
        $("#btnAjouterCours").click(function (){
            ajouterLigneCours();
        });
        $("#btnAnnuler").click(function () {
            window.location.href = '@Url.Action("Index", "Inscription")';
        });
        $("#btnPoursuivre").click(function () {
            var coursInteresse = listeCoursInteresse();

            if (coursInteresse.length !== 3) {
                afficherErreur();
            }
            else
            {
                var coursReussis = listeCoursReussis();
                var postData = { values: coursReussis, coursInteret:coursInteresse };
                $.ajax({
                    url: "/Inscription/Poursuivre",
                    type: "POST",
                    data: postData,
                    success: function () {
                        window.location.href = '@Url.Action("Index", "DossierEtudiant")';
                    },
                    error: function(){
                        alert(data);
                    }
                });
            }
        });
    });
</script>
