@using sachem.Models
<div class="clearfix rowCourseReussisPadTop InfoCourCollege">
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon basic-addon1">@Messages.Cours</span>
                @Html.DropDownList("lstCours", null, Messages.VeuillezChoisir, new { @class ="form-search ins-selectcours valLignecours dropDownCours" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon basic-addon2">@Messages.Statut</span>
                @Html.DropDownList("lstStatut", null, Messages.VeuillezChoisir, new { @class = "form-search ins-selectcollege valLignecours dropDownStatut" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon basic-addon1">@Messages.Session</span>
                @Html.DropDownList("slSession", null, Messages.VeuillezChoisir, new { @class = "form-search ins-selectcollege valLignecours dropDownSess" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon basic-addon2">@Messages.Resultat</span>
                <input type="number" class="form-control text-box single-line ins-text-box valLignecours"/><span style="float:right">%</span>
            </div>
        </div>
    </div>
    <span class="input-group-btn"><input type="button" span="6" value="@Messages.Supprimer" style="float:right" class="btn btn-default btnSupprimerCours" /></span>
</div>
