@model sachem.Models.Inscription

<style>
.checkzone{width:100%;top:-1px;height:25px;background-size:100%; -webkit-appearance: none; -moz-appearance:none;}
.checkzone:checked{width:100%; background-image:url('../../Images/x.png');background-position:center;background-repeat:no-repeat;background-size:30px 25px;height:25px; -webkit-appearance: none; -moz-appearance:none;}
</style>
@{
    ViewBag.Title = "Inscription au service de Sachem";
}
<script>
    function suivant(e) {
        var HoraireArray = [];
        $('[name="horaireCheckbox"]:checked').each(function () {
            HoraireArray.push(($(this).val()));
        });
        var postData = { values: HoraireArray };
        if (postData.length < 2) {
            alert("Utilisez au moins une plage horaire de 2!");
            return;
        }
        $.ajax({
            url: "/Inscription/Index",
            data: postData,
            type: "POST",
            traditional: true,
            dataType: 'json',
            success: function (data) {
                alert(data.message);
            }           
        });
        return false;
    }  
</script>

<div class="container">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">
        @Html.Raw(@TempData["Success"])
    </p>

    @Html.AntiForgeryToken()

    <div class="form-groug">
        @Html.LabelFor(model => model.id_TypeInscription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TypeInscription", null, "Choisir", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_TypeInscription, "", new { @class = "text-danger" })
        </div>
    </div>
        @*<h3 class="page-header">Identification</h3>
    <div class="form-groug">
        @Html.LabelFor(model => model.Personne.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personne.Telephone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personne.Telephone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-groug">
        @Html.LabelFor(model => model.Personne.Courriel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personne.Courriel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personne.Courriel, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <h3 class="page-header">Disponibilité</h3>
    <ul>
        <li>Indiquez vos heures de disponibilité en cliquant dans les cases appropriées.</li>
        <li>Formez des blocs d'au moins deux heures consécutives.(les rencontres dureront 1h30/semaine)</li>
        <li>Inscrivez plusieurs choix pour faciliter le jumelage.</li>
    </ul>
    <form method="post" id="TabDisp">

        @{string[] jour = new string[5] { "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi" };}
        <table class="table-bordered table-striped col-sm-12">
            <tr>
                <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">Heures</th>
                @foreach (string j in jour)
                {
                    <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@j</th>
                }

            </tr>
            @for (var heure = 8; heure < 18;)
            {
                int heureCheckbox = heure;
                <tr>
                    <td class="text-center">@(heure)h - @(++heure)h</td>
                    @for (var j = 0; j < 5; j++)
                    {
                        <td class="text-center"> @Html.CheckBox("horaireCheckbox", false, htmlAttributes: new { @class = "control-label col-md-2 checkzone", @id = jour[j] + heureCheckbox.ToString(), @value = jour[j] + "-" + heureCheckbox.ToString() })</td>
                    }
                </tr>
            }

        </table>

        <br />
        @Html.Partial("_Boutons")
    </form>
</div>
