@model sachem.Models.Inscription

@{
    ViewBag.Title = "Inscription";
}
<script>
    function suivant() {
        var idTypeInscChoisi = $('#TypeInscription :selected').val();
        if (idTypeInscChoisi !== "Choisir") {
            $('#modalTypeInscriptionErreur').addClass("hide");
            var postData = getDisp();
            var modal = document.getElementById('ConfirmDisp');
            var boutonOk = document.getElementById('btnOk');
            var confirmHoraire = "";

            $.ajax({
                url: "/Inscription/FormattageDesDisposPourModal",
                data: postData,
                type: "POST",
                traditional: true,
                dataType: 'json',
                success: function (data) {
                    document.getElementById("plageDisp").innerText = data;
                }
            });

            //$.each(postData.jours,
            //    function (nom, disp) {
            //        var date = new Date(0, 0, 0, 0, 0, 0, 0);
            //        date.setMinutes(parseInt(disp.substring(disp.indexOf("-") + 1, disp.lentgh)));
            //        var heureMin = date.toTimeString().substring(0, 5);
            //        date.setMinutes(date.getMinutes() + 90);
            //        var heureMax = date.toTimeString().substring(0, 5);
            //        disp = disp.substring(0, disp.indexOf("-")) + " " + heureMin + " - " + heureMax;
            //        confirmHoraire += disp + ", ";
            //    });
            //confirmHoraire = confirmHoraire.substring(0, confirmHoraire.toString().length - 2) + ".";
            document.getElementById("plageDisp").innerText = confirmHoraire;
            document.getElementById("typeInsc").innerText = $('#TypeInscription :selected').text();
            modal.style.display = 'block';

            boutonOk.onclick = function() {
                envoie(postData);
            }
        } else {
            $('#modalTypeInscriptionErreur').removeClass("hide");
        }
    }

    function getDisp() {
        var horaireArray = [];
        $('[name="horaireCheckbox"]:checked').each(function () {
            horaireArray.push(($(this).val()));
        });
        var typeinscr = $('#TypeInscription').val();
        var postData = { typeInscription: typeinscr, jours: horaireArray };
        return postData;
        }

    function envoie(postData) {
        $.ajax({
            url: "/Inscription/Index",
            data: postData,
            type: "POST",
            traditional: true,
            dataType: 'json',
            success: function (data) {
                window.location.href = data.url.toString();
            }           
        });
        return false;
    }  
</script>

<div class="container">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">
        @Html.Raw(TempData["Success"])
    </p>

    @Html.AntiForgeryToken()

    <div class="form-groug">
        @Html.LabelFor(model => model.id_TypeInscription, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TypeInscription", null, "Choisir", new { @class = "form-control" })
            <p id="modalTypeInscriptionErreur" class="text-danger hide">@sachem.Models.Messages.InscriptionTypeInscriptionChoisiAlert</p>
        </div>
    </div>
    <h3 class="page-header">Disponibilité</h3>
    <ul>
        <li>@sachem.Models.Messages.InscriptionDirectivesTableauDisponibilite1()</li>
        <li>@sachem.Models.Messages.InscriptionDirectivesTableauDisponibilite2()</li>
        <li>@sachem.Models.Messages.InscriptionDirectivesTableauDisponibilite3()</li>
        <li>@sachem.Models.Messages.InscriptionDirectivesTableauDisponibilite4()</li>
    </ul>
    <form method="post" id="TabDisp">
        <table class="table-bordered table-striped col-sm-12">
            @{ var jours = ((sachem.Controllers.InscriptionController)ViewContext.Controller).RetourneListeJours(); }
            <tr>
                <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">Heures</th>
                @foreach (string jour in jours)
                {
                    <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@jour</th>
                }
            </tr>
            @{ var listeLabelValueDeTableauDisponibilite = ((sachem.Controllers.InscriptionController)ViewContext.Controller).RetourneTableauDisponibilite(); }
            @{foreach (var v in listeLabelValueDeTableauDisponibilite)
                {
                    <tr>
                        <td class="text-center">
                            @(v.Key)
                        </td>
                            @foreach (var w in v.Value)
                            {
                                <td class="text-center checkzone">
                                    
                                    @Html.CheckBox("horaireCheckbox", false, new
                        {
                                   id = w,
                                   value = w
                               })<input type="checkbox"/><label for="@w"></label>
                                   
                                </td>
                        }
                    </tr>
                }
            }             
        </table>
        <br />
        @Html.Partial("_Boutons")
    </form>
</div>

<div class="container">
    <div class="modal fade" id="ConfirmDisp" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@sachem.Models.Messages.InscriptionConfirmationDispoTitre</h4>
                </div>
                <div class="modal-body">
                        <p><b>@sachem.Models.Messages.InscriptionTypeInscriptionChoisi</b></p>
                        <p id="typeInsc"></p>
                        <p><b>@sachem.Models.Messages.InscriptionDisposChoisis</b></p>
                        <p id="plageDisp"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnOk" type="button" data-dismiss="modal" class="btn btn-primary">Confirmer</button>
                    <button type="button" data-dismiss="modal" class="btn">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>