@model sachem.Models.Inscription


@{
    ViewBag.Title = "Inscription au service de Sachem";
}
<script>
    function suivant(e) {
        var HoraireArray = [];
        $('[name="horaireCheckbox"]:checked').each(function () {
            HoraireArray.push(($(this).val()));
        });
        var postData = { values: HoraireArray };
        if (postData.length < 2) {
            alert("Utilisez au moins une plage horaire de 2!");
            return;
        }
        $.ajax({
            url: "/Inscription/Index",
            data: postData,
            type: "POST",
            traditional: true,
            dataType: 'json',
            success: function (data) {
                alert(data.message);
            }
            
        });
        return false;
    }
   
</script>


<h2>@ViewBag.Title</h2>
<p class="text-success">
    @Html.Raw(@TempData["Success"])
</p>

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.id_TypeInscription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TypeInscription", null, "Choisir", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_TypeInscription, "", new { @class = "text-danger" })
        </div>
    </div>

    <h3>Disponibilité</h3>
    <p> 
        -Indiquez vos heures de disponibilité en cochant les cases appropriées.<br />
        -Formez des blocs d'au moins deux heures consécutives.(les rencontres dureront 1h30/semaine) <br />
        -Inscrivez plusieurs choix pour faciliter le jumelage.
    </p>
    <form method="post" id="TabDisp">
        <div>
            @{string[] jour = new string[5] { "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi" };}
            <CENTER>
                    <table style="width:100%" border=1>
                        <TR>
                            <TH>Heures</TH>
                            <TH>@jour[0]</TH>
                            <TH>@jour[1]</TH>
                            <TH>@jour[2]</TH>
                            <TH>@jour[3]</TH>
                            <TH>@jour[4]</TH>

                        </TR>
                        @for (var heure = 8; heure < 18;)
                        {
                            int heureCheckbox = heure;
                            <TR>
                                <TD>@(heure)h - @(++heure)h</TD>


                                @for (var j = 0; j < 5; j++)
                                {
                                   <TD align="center"> @Html.CheckBox("horaireCheckbox", false, htmlAttributes: new { @class = "control-label col-md-2", @id = jour[j] + heureCheckbox.ToString(), @value = jour[j] + "-" + heureCheckbox.ToString() })</TD>
                                }
                            </TR>
                        }

                    </table>
            </CENTER>
            <br />
            <br />
            @Html.Partial("_Boutons")
        </div>
    </form>
