@model sachem.Models.Inscription

@{
    ViewBag.Title = "Inscription au service de Sachem";
}
<style type="text/css">
    .checkboxinscr {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.checkboxinscr:checked {
    background: #abd;
}
</style>
<script>
    function suivant() {
        postData = getDisp();
        var modal = document.getElementById('ConfirmDisp');
        var boutonOk = document.getElementById('btnOk');
        var confirmHoraire = "";
        $.each(postData.jours, function (nom, disp) {
            var date = new Date(0, 0, 0, 0, 0, 0, 0);
            date.setMinutes(parseInt(disp.substring(disp.indexOf("-") + 1, disp.lentgh)));
            var heureMin = date.toTimeString().substring(0, 5);
            date.setMinutes(date.getMinutes() + 90);
            var heureMax = date.toTimeString().substring(0, 5);
            disp = disp.substring(0, disp.indexOf("-")) + " " + heureMin + " - " + heureMax;
            confirmHoraire += disp + ", ";
        })
        confirmHoraire = confirmHoraire.substring(0, confirmHoraire.toString().length - 2) + ".";
        document.getElementById("plageDisp").innerText = confirmHoraire;
        document.getElementById("typeInsc").innerText = $('#TypeInscription :selected').text();
        modal.style.display = 'block';

        boutonOk.onclick = function () {
            envoie();
            }
    }

    function getDisp() {
        var HoraireArray = [];
        $('[name="horaireCheckbox"]:checked').each(function () {
            HoraireArray.push(($(this).val()));
        });
        var typeinscr = $('#TypeInscription').val();
        var postData = { jours: HoraireArray, typeInscription: typeinscr };
        return postData;
    }

    function envoie() {
        var postData = getDisp();
        $.ajax({
            url: "/Inscription/Index",
            data: postData,
            type: "POST",
            traditional: true,
            dataType: 'json',
            success: function (data) {
                alert(data.message);
            }
        });
        return false;
    }
</script>

<div class="container">
<h2>@ViewBag.Title</h2>
<p class="text-success">
    @Html.Raw(@TempData["Success"])
</p>

    @Html.AntiForgeryToken()

    <div class="form-groug">
        @Html.LabelFor(model => model.id_TypeInscription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TypeInscription", null, "Choisir", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_TypeInscription, "", new { @class = "text-danger" })
        </div>
    </div>
    <h3 class="page-header">Disponibilité</h3>
    <ul>
        <li>Indiquez vos heures de disponibilité en cliquant dans les cases appropriées.</li>
        <li>Chaque &#10004; indique que vous êtes disponible pour une rencontre de 1h30 dans cette plage horaire</li>
        <li>Il y aura au minimum une rencontre par semaine, soit 1h30/semaine</li>
        <li>Inscrivez plusieurs choix pour faciliter le jumelage.</li>
    </ul>
    <form method="post" id="TabDisp">
        <table class="table-bordered table-striped col-sm-12">
            @{ List<string> jours = ((sachem.Controllers.InscriptionController)this.ViewContext.Controller).RetourneListeJours(); }
            <tr>
                <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">Heures</th>
                @foreach (string jour in jours)
                {
                    <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@jour</th>
                }
            </tr>
            @{ Dictionary<string, List<string>> ListeLabelValueDeTableauDisponibilite = ((sachem.Controllers.InscriptionController)this.ViewContext.Controller).RetourneTableauDisponibilite(); }
            @{foreach (var v in ListeLabelValueDeTableauDisponibilite)
                {
                    <tr>
                        <td class="text-center">
                            @(v.Key)
                        </td>
                            @foreach (var w in v.Value)
                            {
                                <td class="text-center checkzone">
                                    
                                    @Html.CheckBox("horaireCheckbox", false, htmlAttributes: new
                               {
                                   @id = w,
                                   @value = w
                               })<input type="checkbox"/><label for="@w"></label>
                                   
                                </td>
                            }                                
                    </tr>
                }
            }
        </table>
        <br />
    @Html.Partial("_Boutons")
    </form>
        </div>

<div class="container">
    <div class="modal fade" id="ConfirmDisp" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation plage de disponibilité</h4>
                </div>
                <div class="modal-body">
                    <p>Type d'inscription choisi:</p>
                    <p id="typeInsc"></p>
                    <p>vos plages de disponibilitées sélectionnées:</p> 
                    <p id="plageDisp"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnOk" type="button" data-dismiss="modal" class="btn btn-primary">Confirmer</button>
                    <button type="button" data-dismiss="modal" class="btn">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>