@model sachem.Models.Cours
@{
    ViewBag.Title = "Inscription - Tuteur de bénévole ou rémunéré";
}
<div style="margin-right:15%">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3 style="background-color:aliceblue">Disponibilité</h3>
        <div class="row rowCourseReussisPadTop">
            <div class="col-md-8"><h5 class="hIns">@sachem.Models.Messages.InscriptionCombienHeuresPretADonner()</h5></div>
            <div class="col-md-4">
                <select style="width:300px;float:right;" class="form-search ins-select">
                    <option value="1.5">1h30 par semaine (1 rencontre)</option>
                    <option value="3">3 heures par semaine (2 rencontres)</option>
                    <option value="4.5">4h30 par semaine (3 rencontres)</option>
                    <option value="6">6 heures par semaine (4 rencontres)</option>
                    <option value="*">plus de 6 heures par semaine (5 rencontres et plus)</option>
                </select>
            </div>
        </div>

        @Html.Partial("_CoursReussis")
    }
</div>

<div>
    @Html.ActionLink("Retourner à la page des disponibilités", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
