@model IEnumerable<Groupe>
@using sachem.Models

@{
    ViewBag.Title = Messages.ConsulterCoursDetailsTitre;
}

<h2>@ViewBag.Title</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Cours.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Cours.Code)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Cours.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Cours.Nom)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Cours.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Cours.Actif)
        </dd> 

    </dl>

    <h4>@Messages.Groupes</h4> 
    
    @{
        var thSession = 0;
        int thNoGroupe;
        var thEnseignant = 0;
        int thNombreEtu;
        if (ViewBag.IsEnseignant)
        {
            if (ViewBag.IsSessToutes)
            {
                thSession = 2;
                thNoGroupe = 4;
                thNombreEtu = 4;
            }
            else
            {
                thNoGroupe = 5;
                thNombreEtu = 5;
            }
        }
        else
        {
            if (ViewBag.IsSessToutes)
            {
                thSession = 1;
                thNoGroupe = 2;
                thEnseignant = 5;
                thNombreEtu = 2;
            }
            else
            {
                thNoGroupe = 2;
                thEnseignant = 6;
                thNombreEtu = 2;
            }
        }

        <table class="table">
            <tr>
                @if (thSession != 0)
                {
                    <th class="col-sm-@thSession">
                        @Html.DisplayNameFor(model => model.Session)
                    </th>
                }
                <th class="col-sm-@thNoGroupe">
                    @Html.DisplayNameFor(model => model.NoGroupe)
                </th>
                @if (thEnseignant != 0)
                {
                    <th class="col-sm-@thEnseignant">
                        @Messages.Enseignant
                    </th>
                }
                <th class="col-sm-@thNombreEtu">
                    @Messages.ConsulterCoursDetailsNombreEtu
                </th>
                <th class="col-sm-2"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @if (thSession != 0)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Session.NomSession)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.NoGroupe)
                    </td>
                    @if (thEnseignant != 0)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupeEtudiant.Count)
                    </td>
                    <td>
                        @Html.ActionLink(Messages.ConsulterCoursDetailsModifierGroupe, $"../Groupes/Edit", new {id = item.id_Groupe})
                    </td>
                </tr>
            }
        </table>
    }
</div>
<p>
    @Html.ActionLink(Messages.ConsulterCoursDetailsRetourRecherche, "Index")
</p>
