@model IEnumerable<sachem.Models.Groupe>

@{
    ViewBag.Title = "Détails du cours";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Cours.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Cours.Code)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Cours.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Cours.Nom)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ElementAt(0).Cours.Actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAt(0).Cours.Actif)
        </dd>
       
        <h4>Groupes</h4>     

    </dl>
    
    
    <table class="table">
        
        @if (ViewBag.IsEnseignant) //si enseignant
        {
            if (ViewBag.IsSessToutes)
            {
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session)
                </th>
                <th class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NoGroupe)
                </th>
                <th class="col-sm-4">
                    Nombre d'étudiants
                </th>
                <th class="col-sm-2"></th>
            </tr>

                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Session.NomSession)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoGroupe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupeEtudiant.Count)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier groupe", "../Groupes/Edit", new { id = item.id_Groupe })
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <th class="col-sm-5">
                        @Html.DisplayNameFor(model => model.NoGroupe)
                    </th>
                    <th class="col-sm-5">
                        Nombre d'étudiants
                    </th>
                    <th class="col-sm-2"></th>
                </tr>

                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoGroupe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupeEtudiant.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Modifier groupe", "../Groupes/Edit", new { id = item.id_Groupe })
                        </td>
                    </tr>
                }
            }

        }
        else //si responsable
        {
            if (ViewBag.IsSessToutes)
            {
            <tr>
                <th class="col-sm-1">
                    @Html.DisplayNameFor(model => model.Session)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NoGroupe)
                </th>
                <th class="col-sm-5">
                    Enseignant
                </th>
                <th class="col-sm-2">
                    Nombre d'étudiants
                </th>
                <th class="col-sm-2"></th>
            </tr>

                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Session.NomSession)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoGroupe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupeEtudiant.Count)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier groupe", "../Groupes/Edit", new { id = item.id_Groupe })
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NoGroupe)
                    </th>
                    <th class="col-sm-6">
                        Enseignant
                    </th>
                    <th class="col-sm-2">
                        Nombre d'étudiants
                    </th>
                    <th class="col-sm-2"></th>
                </tr>

                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoGroupe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Personne.NomPrenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupeEtudiant.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Modifier groupe", "../Groupes/Edit", new { id = item.id_Groupe })
                        </td>
                    </tr>
                }
            }
        }

    </table>

</div>
<p>
    @Html.ActionLink("Retour à la recherche des cours", "Index")
</p>
