@model PagedList.IPagedList<Groupe>
@using sachem.Models

@{
    ViewBag.Title = Messages.ConsulterCoursIndexTitre;
}

<h2>@ViewBag.Title</h2>
    
@using (Html.BeginForm("Index", "ConsulterCours", FormMethod.Post, new {@class = "form-inline", role = "form"}))
{
    <h4>@Messages.Recherche</h4>
    <div class="recherche">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-3 recherche-label">
                    @Messages.Session
                </div>
                <div class="col-md-9 recherche-field">
                    @Html.DropDownList("Session", null, Messages.Toutes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                @if (!ViewBag.IsEnseignant)
                {
                    <div class="col-md-3 recherche-label">
                        @Messages.Enseignant
                    </div>
                    <div class="col-md-9 recherche-field">
                        @Html.DropDownList("Personne", null, Messages.Tous, new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-default" style="margin-bottom: 10px;">
                    <i class="material-icons">search</i>@Messages.Rechercher
                </button>
            </div>
        </div>
    </div>
        }
        @{
            int thNomCours;
            var thCoursActif = 0;
            var thEnseignant = 0;
            if (ViewBag.IsEnseignant)
            {
                thNomCours = 10;
            }
            else
            {
                thNomCours = 5;
                thCoursActif = 1;
                thEnseignant = 4;
            }
        }
        <table class="table">
            <tr>
                <th class="col-sm-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Code)
                </th>
                <th class="col-sm-@thNomCours">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Nom)
                </th>
                @if (thCoursActif != 0)
                {
                    <th class="col-sm-@thCoursActif">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Actif)
                    </th>
                }
                @if (thEnseignant != 0)
                {
                    <th class="col-sm-@thEnseignant">
                        @Messages.Enseignant;
                    </th>
                }
                <th class="col-sm-1"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Cours.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Cours.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Cours.Actif)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.nomsConcatenesProfs)
                    </td>
                    <td class="text-center">
                        @*@Html.ActionLink(Messages.Consulter, "Details", new { idCours = item.id_Cours, idSess = ViewBag.Sessionchoisie })*@
                        <a href="@Url.Action("Details", null, new {idCours = item.id_Cours, idSess = ViewBag.Sessionchoisie})">
                            <i class="material-icons">visibility</i>
                        </a>
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="6">@Messages.AucunCours</td>
                </tr>
            }
        </table>
        @Html.Partial("_PageRecherche", Model)
