@using System.Diagnostics.Eventing.Reader
@using Microsoft.Ajax.Utilities
@using sachem.Models
@model IEnumerable<sachem.Models.Groupe>

@{
    ViewBag.Title = "Consulter cours";
    string codeCoursCourant = "";
    string codeCoursSuivant = "";
    int i = 0;
}

<h2>Consulter cours</h2>
    
@using (Html.BeginForm("Index", "ConsulterCours", FormMethod.Post, new {@class = "form-inline", role = "form"}))
{
    <p>
        <h4>Recherche</h4>
    </p>

    <div class="form-group">
        <p>
            <div class="form-group">
                Session :
                @Html.DropDownList("Session", "Toutes")
            </div>
            @if (!ViewBag.IsEnseignant)
            {
                <div class="form-group">
                    Enseignant :
                    @Html.DropDownList("Personne", "Tous")
                </div>
            }
            
            <div class="form-group">
                <input type="submit" value="Rechercher" class="btn-toolbar"/>
            </div>
        </p>
    </div>
}

<table class="table">

    @if (ViewBag.IsEnseignant) //si enseignant
    {
        i = 0;

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cours.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.Nom)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            codeCoursCourant = Model.ElementAt(i).Cours.Code; //code du cours courant

            if (i < Model.Count() - 1) //vérifier s'il y a un cours suivant
            {
                codeCoursSuivant = Model.ElementAt(i + 1).Cours.Code; //code du cours suivant
            }
            else
            {
                codeCoursSuivant = "";
            }

            if (!codeCoursCourant.Equals(codeCoursSuivant)) //si dernier cours
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.Nom)
                    </td>
                    <td>
                        @Html.ActionLink("Consulter", "Details", new { id = item.id_Cours })
                        <br /> @Html.DisplayFor(modelItem => item.Personne.PrenomNom)
                    </td>
                </tr>

            }

            i++;
        }
    }
    else //si responsable
    {
        i = 0;

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cours.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.Actif)
            </th>
            <th>
                Enseignant
            </th>
            <th></th>
        </tr>

        string prenomNomCol = "";
        List<string> t_PrenomNom = new List<string>();

        foreach (var item in Model)
        {
            codeCoursCourant = Model.ElementAt(i).Cours.Code; //code du cours courant

            if (i < Model.Count() - 1) //vérifier s'il y a un cours suivant
            {
                codeCoursSuivant = Model.ElementAt(i + 1).Cours.Code; //code du cours suivant
            }
            else
            {
                codeCoursSuivant = "";
            }


            if (codeCoursCourant.Equals(codeCoursSuivant)) //vérifier s'il y a un cours suivant
            {
                if (!t_PrenomNom.Contains(item.Personne.PrenomNom))
                {
                    prenomNomCol += item.Personne.PrenomNom + ", ";

                    //affichageNomPrenom = prenomNomCol;

                    t_PrenomNom.Add(item.Personne.PrenomNom);
                }

            }
            else //si dernier cours
            {
                if (!t_PrenomNom.Contains(item.Personne.PrenomNom))
                {
                    prenomNomCol += item.Personne.PrenomNom;

                    //affichageNomPrenom = prenomNomCol;

                    t_PrenomNom.Add(item.Personne.PrenomNom);
                }
                else
                {
                    prenomNomCol = prenomNomCol.Remove(prenomNomCol.Length - 2);
                }


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.Actif)
                    </td>
                    <td>
                        @prenomNomCol
                    </td>
                    <td>
                        @Html.ActionLink("Consulter", "Details", new { id = item.id_Cours })
                    </td>
                </tr>

                t_PrenomNom.Clear();
                prenomNomCol = "";
            }

            i++;
        }
    }

</table>