@using System.Diagnostics.Eventing.Reader
@using Microsoft.Ajax.Utilities
@using sachem.Models
@model PagedList.IPagedList<sachem.Models.Groupe>

@{
    ViewBag.Title = "Consulter cours";
}

<h2>@ViewBag.Title</h2>
    
@using (Html.BeginForm("Index", "ConsulterCours", FormMethod.Post, new {@class = "form-inline", role = "form"}))
{
    <h4>Recherche</h4>

    <table class="table-condensed">
        <tr>
            <td>Session :</td>
            <td>@Html.DropDownList("Session", null, "Toutes", htmlAttributes: new { @class = "form-search" })</td>
            <td>Enseignant :</td>
            <td>
                @if (!ViewBag.IsEnseignant)
                {
                    @Html.DropDownList("Personne", null, "Tous", htmlAttributes: new { @class = "form-search" })
                }
            </td>
            <td><input type="submit" value="Rechercher" class="form-search" /></td>
        </tr>
    </table>
    <br/>
}
<table class="table">
        @if(ViewBag.IsEnseignant) //si enseignant
         {
             <tr>
                 <th class="col-sm-1">
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Code)
                 </th>
                 <th class="col-sm-9">
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Nom)
                 </th>
                 <th class="col-sm-2"></th>
             </tr>

             foreach (var item in Model)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => item.Cours.Code)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Cours.Nom)
                     </td>
                     <td>
                         @Html.ActionLink("Consulter", "Details", new {idCours = item.id_Cours, idSess = ViewBag.Sessionchoisie})
                     </td>
                 </tr>
             }
         }
         else //si responsable
         {
             <tr>
                 <th class="col-sm-1">
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Code)
                 </th>
                 <th class="col-sm-5">
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Nom)
                 </th>
                 <th class="col-sm-1">
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Actif)
                 </th>
                 <th class="col-sm-4">
                     Enseignant
                 </th>
                 <th class="col-sm-1"></th>
             </tr>

        foreach (var item in Model)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(model => item.Cours.Code)
                     </td>
                     <td>
                         @Html.DisplayFor(model => item.Cours.Nom)
                     </td>
                     <td>
                         @Html.DisplayFor(model => item.Cours.Actif)
                     </td>
                     <td>
                         @Html.DisplayFor(model => item.nomsConcatenesProfs)
                     </td>
                     <td>
                         @Html.ActionLink("Consulter", "Details", new {idCours = item.id_Cours, idSess = ViewBag.Sessionchoisie})
                     </td>
                 </tr>
             }
         }
    @if (!Model.Any())
    {
        <tr>
            <td colspan="6">Aucun cours ne répond à ces critères</td>
        </tr>
    }
</table>
@Html.Partial("_PageRecherche", Model)


<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#Session").change(function () {
            var idSession = $(this).val();

            if (idSession == '')
            {
                idSession = 0;
            }

            $.ajax({
                url: "/ConsulterCours/ListePersonne",
                data: { "idSession": idSession },
                type: "POST",
                dataType: "json",
                success: function(donnees) 
                {
                    $("#Personne").empty();

                    $("#Personne").append('<option value ="">Tous</option>')

                    $.each(donnees, function (index, valeur) {
                        $("#Personne").append('<option value ="' + valeur.Value + '">' + valeur.Text + '</option>');
                    });
                }
            });
        })
    });




    
</script>
