@using System.Diagnostics.Eventing.Reader
@using Microsoft.Ajax.Utilities
@using sachem.Models
@model PagedList.IPagedList<sachem.Models.Groupe>

@{
    ViewBag.Title = "Consulter cours";
}

<h2>@ViewBag.Title</h2>
    
@using (Html.BeginForm("Index", "ConsulterCours", FormMethod.Post, new {@class = "form-inline", role = "form"}))
{
    <p>
        <h4>Recherche</h4>
    </p>

    <div class="form-group">
        <p>
            <div class="form-group">
                Session :
                @Html.DropDownList("Session", "Toutes")
            </div>
            @if (!ViewBag.IsEnseignant)
            {
                <div class="form-group">
                    Enseignant :
                    @Html.DropDownList("Personne", "Tous")
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Rechercher" class="btn-toolbar"/>
            </div>
        </p>
    </div>
}

@if (Model.Any())
{
    <table class="table">

        @if (ViewBag.IsEnseignant) //si enseignant
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Nom)
                </th>
                <th></th>
            </tr>

            foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cours.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cours.Nom)
                        </td>
                        <td>
                            @Html.ActionLink("Consulter", "Details", new { id = item.id_Cours })
                        </td>
                    </tr>
            }
        }
        else //si responsable
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cours.Actif)
                </th>
                <th>
                    Enseignant
                </th>
                <th></th>
            </tr>

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Cours.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Cours.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Cours.Actif)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.nomsConcatenesProfs)
                    </td>
                    <td>
                        @Html.ActionLink("Consulter", "Details", new { id = item.id_Cours })
                    </td>
                </tr>
            }
        }

    </table>
}
else
{
    <div>Aucun résultat trouvé.</div>
}

@Html.Partial("_PageRecherche", Model)

