@model sachem.Models.p_Contact
@using System.Data;
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
 
        <th>
            Personne à contacter : @Html.DisplayFor(model => model.Prenom) @Html.DisplayFor(model => model.Nom)
        </th>
        <th>
            Numéro de téléphone : @Html.DisplayFor(model => model.Telephone) 
            Poste : @Html.DisplayFor(model => model.Poste)
        </th>
        <th>
            Page Facebook : @Html.DisplayFor(model => Facebook)
        </th>
        <th>
            Site web : @Html.DisplayFor(model => model.SiteWeb)
        </th>
        <th>
            Local : @Html.DisplayFor(model => model.Poste)
        </th>
    </tr>
</table>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>