@model sachem.Models.p_Contact
@using System.Data;
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>        

    <div class="form-horizontal">

        <div class="form-group">
             <b>Personne à contacter : </b> @Html.DisplayFor(model => model.Prenom) @Html.DisplayFor(model => model.Nom)
        </div>

        <div class="form-group">
             <b>Numéro de téléphone : </b>@Html.DisplayFor(model => model.Telephone)<br />
             <b>Poste : </b>@Html.DisplayFor(model => model.Poste)
        </div>

        <div class="form-group">
             <b>Page Facebook : </b><a href=@Model.Facebook target="_blank">@Html.DisplayFor(model => model.Facebook)</a>
        </div>

        <div class="form-group">
            <b>Site web : </b><a href=@Model.SiteWeb target="_blank">@Html.DisplayFor(model => model.SiteWeb)</a>
        </div>
        <div class="form-group">
            <b>Local : </b>@Html.DisplayFor(model => model.Poste)
        </div>
    </div>

